<%= javascript_include_tag('as_needed/upload') %>

<% upload_image_form = capture do %>
  <% form_for(:image, :url => page_url(@page, :action => 'image-update', 'X-Progress-ID' => @upload_id, :id => @image.id), 
         :html => {:multipart => true, :target => 'upload_frame'}) do |f| -%>
     <%= hidden_field_tag 'X-Progress-ID', @upload_id %>
     <div class='action'>
       <%= f.file_field 'upload_file', :size => '12' %>
     </div>
     <%= submit_tag 'Upload', :onClick => "startProgressBar(this);" %>
     <%= spinner 'upload' %>
  <% end -%>
  <iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
  <div id='progress', style="display: none;">
    <div id='bar' style="width: 10%;">
	    0 %
    </div>
  </div>
<% end %>

<%= upload_image_form %>