%h2.big_icon.page_gallery_48.title
  = I18n.t :edit_image_header

#show-image= render :partial => 'show_image'

%div.gallery_item
  = image_title @image
%br
#upload-new-image
  = render :partial => 'edit_upload'
%hr
%div{:align => 'right'}
  = spinner('close_button')
  #close_button
    = button_to_function(I18n.t(:close_button), "$('close_button').hide(); $('close_button_spinner').show(); window.location='"+page_url(@page,:action => 'edit')+"';")