%h2.big_icon.page_gallery_48.title
  = I18n.t :edit_image_header

#show-image= render :partial => 'show_image'

%div.gallery_item
  = image_title @image
%br
#upload-new-image
  = render :partial => 'edit_upload'

#connect-to-audio
  = render :partial => 'edit_audio'

= render :partial => 'close_and_reload_button'
