%h2.big_icon.page_gallery_48.title
  = I18n.t :add_images_or_zips

.info
  = I18n.t :add_images_or_zips_explaination

- form_tag page_url(@page, :action => 'image-create', 'X-Progress-ID' => @upload_id), :method => :post, :multipart => true do
  = hidden_field_tag 'X-Progress-ID', @upload_id, :class => 'uuid'
  = render :partial => 'upload'
  = spinner('upload')
  .submit
    = submit_tag I18n.t(:upload), :onClick => "startProgressBar(this);", :id => 'upload_button'
  = # button_to_function I18n.t(:cancel), "new Effect.SlideUp($('target_for_upload'));"

= render :partial => 'close_and_reload_button'
