<% @title_box = '<h1>Custom Appearance</h1>' %>

<%= render :partial => 'tabs' %>
<br />
<%= render :partial => 'masthead' %>
<%= render :partial => 'favicon' %>
<%= render :partial => 'color_theme' %>
<%= render :partial => 'advanced' %>
<br />
