<h2>Custom Appearance</h2>

<%= render :partial => 'tabs' %>
<br />
<%= render :partial => 'masthead' %>
<%= render :partial => 'favicon' %>
<%= render :partial => 'color_theme' %>
<%= render :partial => 'advanced' %>
<br />
