<h2>Profile settings</h2>
<span>You can choose which fields can be filled out in a profile and which profile tabs are active. Default is set to allow all.</span>
<% form_for current_site, :url => admin_sites_path(:action => :update) do |f| %>
<%= f.error_messages %>
<span><i><%= flash[:notice] %></i></span>
<br />
<span><b>Profiles:</b></span>  
<ul style="list-style-type:none;">
  <li>
    <%= check_box :site, 'profile_enabled[]', { :checked => current_site.profile_enabled?(:public) }, 'public' %>
    <%= f.label 'profile_enabled[public]', 'Public' %>
  </li>
  <li>
    <%= check_box :site,  'profile_enabled[]', { :checked => current_site.profile_enabled?(:private) }, 'private' %>
    <%= f.label 'profile_enabled[private]', 'Private' %>
  </li>
</ul>
<span><b>Profile Fields:</b></span>
<ul style="list-style-type:none;">
<% %w(basic notes phone_numbers email_addresses locations im_addresses websites cryptkeys).each do |field| -%>
  <li>
    <%= f.check_box 'profile_fields[]', { :checked => current_site.profile_field_enabled?(field.to_sym) }, field %>
    <%= f.label 'profile_fields[%s]'%field, field.split('_').map(&:capitalize).join(' ') %>
  </li>
<% end -%>
</ul>
<br />
<span><%= submit_tag 'Save', :style => 'width:7em;' %></span>
<br /><br />
<% end %>
