<div class="message name_icon shy_parent" style="<%= avatar_style(post.user, 'small')%>">
  <%= link_to_user(post.user) %> <%= friendly_date(post.created_at) %>
  <div class="body">
     <%= post.body_html %>&nbsp;&nbsp;<%= delete_post(post) %>
  </div>
</div>

