<% @title_box = content_tag :h1, "Public Message Wall"[:wall_heading] %>
<%

  today = []
  yesterday = []
  week = []
  later = []
  
  posts = @posts.dup
  post = posts.shift

  while post and after_day_start?(post.updated_at)
    today << post
    post = posts.shift
  end

  while post and after_yesterday_start?(post.updated_at)
    yesterday << post
    post = posts.shift
  end

  while post and after_week_start?(post.updated_at)
    week << post
    post = posts.shift
  end

  while post
    later << post
    post = posts.shift
  end
-%>

<%= pagination_links @posts %>

<div class="wall_posts">
<table><tr>
<% if today.any? -%>
  <tr><td colspan='2' class='date'><%= "Today"[:date_today] -%></td></tr>
  <% today.each do |post| -%>
    <%= display_post(post) -%>
  <% end -%>
<% end -%>
<% if yesterday.any? -%>
  <tr><td colspan='2' class='date'><%= "Yesterday"[:date_yesterday] -%></td></tr>
  <% yesterday.each do |post| -%>
    <%= display_post(post) -%>
  <% end -%>
<% end -%>
<% if week.any? -%>
  <tr><td colspan='2' class='date'><%= "This Past Week"[:date_this_week] -%></td></tr>
  <% week.each do |post| -%>
    <%= display_post(post) -%>
  <% end -%>
<% end -%>
<% if later.any? -%>
  <tr><td colspan='2' class='date'><%= "Older"[:date_older] -%></td></tr>
  <% later.each do |post| -%>
    <%= display_post(post) -%>
  <% end -%>
<% end -%>
</tr></table>
</div>

<%= pagination_links @posts %>
