<h4> Superadmin </h4>
<ul>
  <li class="<%= 'active' if @active == 'create_users'%>"><%= link_to 'create users', new_user_path %></li>
  <li class="<%= 'active' if @active == 'edit_users'%>"><%= link_to 'edit users', users_path %></li>
  <li class="<%= 'active' if @active == 'create_groups'%>"><%= link_to 'create groups', new_group_path %></li>
  <li class="<%= 'active' if @active == 'edit_groups'%>"><%= link_to 'edit groups', groups_path %></li>
</ul>
