<% @title_box = '<h1>Page Moderation</h1>' %>

<% @info_box = capture do %>

<div id="moderation_navigation">
  <div style="display:inline;'">
    <%= "All Pages:"%>&nbsp;
    <%# link_to_active( 'pending', :controller => 'admin/pages', :action => 'index', :view => 'pending')%>
    <%= link_to_active( 'all', { :controller => 'admin/pages', :action => 'index', :view => 'all' }, @current_view == 'all' )%>&nbsp;
  </div>
  <div style="display:inline; margin-left:2em;'">
    <%= "Flagged Pages:"%>&nbsp;
    <%= tab_link('new')%>&nbsp;
    <%= tab_link('vetted')%>&nbsp;
    <%= tab_link('deleted')%>
  </div>
  <div style="display:inline; margin-left:2em;'">
    <%= "Public:"%>&nbsp;
    <%= tab_link('requested', 'public requested')%>&nbsp;
    <%= tab_link('approved', 'public')%>
  </div>
</div>

<% end %>

<% form_tag({ :action => 'index' }, :method => :get) do %>
<%# Filter by group: <%#= select_tag 'group', "<option value=''>#{'all groups'.t}</option>"+
options_from_collection_for_select(current_site.groups, "id", "name", @group) %>
<%#= submit_tag 'Filter', :name => '' %>
<% end %>

<div class="page_list">
  <%= render :partial => 'listing' if @pages.any? %>
  <%= '<em>There are no pages for this view</em>' unless @pages.any?%>
</div>


