- group = event.data_snapshot[:group].freeze
- user = event.data_snapshot[:user].freeze
- user.instance_variable_set(:@attributes_cache, Hash.new)

%li.row.list-item{ :class => cycle( 'shade-odd', 'shade-even', :name => 'activity_entry_cycle' )}
  .owner.row-block.first
    = link_to ' ', person_url(user), html_options_for_icon_for( user, :size => :small )
    = link_to user.name, person_url(user), :class => 'name'
  .left-bagface
    .membership-icon.row-block
      = link_to ' ', group_url(group), html_options_for_icon_for(group, :size => :small, :title => group.name)
    .row-block
      .title.row-block
        = link_to(user.name, person_url(user)) + " joined the group " + link_to(group.name, group_url(group))
      .clear
      .changes.row-block
        = time_ago_in_words(event.created_at)
        ago.
