= stats_subheader('Number of Comments Posted To')
= stats_tr('All Page Types', @all_posts_created)
= stats_tr('Wiki Pages', @wiki_posts_created)
= stats_tr('Discussion Pages', @discussion_posts_created)
= stats_tr('Asset Pages', @asset_posts_created)
