%div.stats_container
  %h3= h3
  %table{:style => 'margin-top: 8px'}
    = show_results_for(@current_live_stats, 'Number of')
    = stats_subheader('User Activity', '(active = logged in within last 30 days)')
    = stats_tr('Active Users', @active_users)
    = stats_tr('Inactive Users', @inactive_users)
