= stats_subheader('Number of Pages Created')
= stats_tr('Total', @all_pages_created)
= stats_tr('Wiki', @wiki_pages_created)
= stats_tr('Discussion', @discussion_pages_created)
= stats_tr('Asset', @asset_pages_created)
