= stats_subheader('Number of Pages shared')
= stats_tr('Total', @all_pages_shared)
= stats_tr('With Individuals', @pages_shared_with_users)
= stats_tr('With Groups', @pages_shared_with_groups)
= stats_tr('With Committees', @pages_shared_with_committees)
= stats_tr('With Councils', @pages_shared_with_networks)
