- group = @parent || @group
%h1
  = group.display_name
  = create_page_link(group)
%div#group-action
  = join_group_link
  = leave_group_link unless @no_leave_group_link
  - if may_join_chat?
    %a#chat.small_icon.chat2_16{:href => url_for({:controller => 'chat', :action => 'channel', :id => group.name})}
      = I18n.t(:group_join_chat)
  
