%ul
%li
  %a{:href => "#{groups_url(:action => 'edit')}"}=  I18n.t(:basic_settings)
%li
  %a{:href => "#{groups_profiles_url(:action => :permissions)}"}= I18n.t(:permissions)
%li
  %a{:href => "#{groups_profiles_url(:action => :edit)}"}= I18n.t(:public_profile)
%li
  %a{:href => "#{groups_features_url(:action => :index)}"}= I18n.t(:featured_pages)
- if may_edit_menu?
  %li
    %a{:href => "#{groups_menu_items_url(:action => :index)}"}= I18n.t(:menu_items)

