%section#identity-image
  = avatar_for @group, 'big'
%div#identity-meta
  %section#about-group
    %h4.first
      = I18n.t(:about)
    = text_with_more(@group.profiles.public.summary_html, :p, :length => 200, :more_url => '#')
    = render :partial => '/layouts/base/group_details_links'
  - if may_list_memberships?
    %section#people
      = render :partial => '/layouts/base/people'
  - if may_show_affiliations?
    %section#affiliations
      = render :partial => '/layouts/base/group_affiliations'
  %section#featured
    = render :partial => '/layouts/base/featured'
