- subject = activity.subject
- object = activity.object
%article

  %span.avatars
    = link_to avatar_for(subject), url_for_entity(subject) unless subject.blank?
    = link_to avatar_for(object, 'xsmall'), url_for_entity(object) unless object.blank?
  %span.description
    = linked_activity_description(activity)
  %ul.pages-status
    %li
      = friendly_date(activity.created_at)
      = I18n.t(:at)
    %li= activity.created_at.to_s(:time)
    %li
      &nbsp;