<table><tr>
  <%= hidden_field_tag(:response, @resp.id, :id => 'response_id') %>
  <%= hidden_field_tag(:next, @next.map(&:id).to_json, :id => 'next_ids') %>
  <% 1.upto(10) do |i| -%>
    <td><label>
    <%= radio_button_tag(:rating, i, false, :class => "rate_button", :onClick => js_next_response(i)) %>
    <%= i %>
    </label></td>
  <% end -%>
  <td>&nbsp;<%= spinner('next_response') %></td>
</tr></table>

