<%= render :partial => 'tabs' %>
<%= javascript_tag "function UpdateSettingsView() { e = $('participants_can_rate'); if($('rating_enabled').checked) { $('participants_can_rate_label').removeClassName('disabled');e.disabled = false; } else { e.disabled = true; e.checked = false;$('participants_can_rate_label').addClassName('disabled'); }}" %>
<div id="design_questions_container" class="survey_questions_container">
  <div id="add_questions_links_bar">
    <span class="">
      <span class="label plus_16 small_icon">Add Questions:</span>
      <%= add_questions_links %>
    </span>
  </div>
  <% form_for :survey, @survey, :url => page_url(@page, :action => :save_design) do |f| %>
    <%= submit_tag "Save Survey".t, :class => "submit" %><br />
    <div id="survey_settings">
      <strong class="caption"><%= "Settings"[:settings] %>:</strong>
      <br />
      <%= f.check_box :rating_enabled, :id => 'rating_enabled', 
          :onChange => "UpdateSettingsView();" %>
      <%= f.label :rating_enabled, "Allow rating on responses?"[:allow_rating] %>
      <br />
      <span id="rating_details">
	<%= f.check_box :participants_cannot_rate, :id => 'participants_can_rate' %>
	<%= f.label :participants_cannot_rate, "Deny rating by participants?"[:disallow_participant_rating], :id => 'participants_can_rate_label' %>
	<br />
      </span>
      <%= javascript_tag("UpdateSettingsView();"); %>
      <%= f.check_box :responses_disabled %>
      <%= f.label :responses_disabled, "Disable responses?"[:disallow_responses] %>
    </div>
    <div id="questions">
      <%= render :partial => 'questions' %>
    </div>
  <% end %>
</div>

<%= javascript_tag "survey_designer_enable_sorting();" %>
