<%= render :partial => 'tabs' %>
<div id="respond_to_questions_container" class="survey_questions_container">
  <% form_for :response, @response, :url => page_url(@page, :action => :respond) do |f| %>
    <div id="questions">
      <% @survey.questions.each do |question| %>
        <div class="question">
          <span class="question_label"><%= question.label %></span>
          <br/>
          <%= respond_to_question_form(f, question) %>
        </div>
      <% end %>
    </div>
    <%= submit_tag "Respond"[:respond_to_survey], :class => "submit" %>
  <% end %>
</div>



<%= render :partial => 'survey_page/respond/goodpart' %>




<pre>
<%= debug @survey %>
<%= debug @survey.questions %>

</pre>