<% response_form.fields_for :answers_attributes, answer, :index => question.id do |f| %>
  <span class="small_icon mime_video_16 response_icon_label">
    <%= I18n.t(:video_embed_code_prompt) %>
  </span>
  <blockquote><em>
    <%= I18n.t(:video_embed_code_description) %>
  </em></blockquote>

  <%= f.error_message_on :value %>
  <%= f.hidden_field :question_id %>
  <%= f.text_area(:value, :size => "72x6", :style => 'width:100%') %>
  <em>
    <%=  '(' + I18n.t(:current_video_sources) + ')' %>
  </em>
<% end %>

