<% sections = [] if sections.nil? -%>
<% multipart = sections.grep 'file' -%>

<% @title_box = capture do -%>
  <div class='big_icon <%= @page_class.icon%>_48'>
    <h1>
      <%= I18n.t(:create_a_new_thing, :thing => content_tag(:i, page_class.downcase)) %>
    </h1>
  </div>
<% end -%>

<% if @group %>
  <% @info_box = capture do -%>
    <%= I18n.t(:page_added_to_group, :group_type => @group.group_type.downcase, :group_name => content_tag(:b,@group.display_name)) %>
  <% end -%>
<% end %>

<div class="create_page">
<% form_tag({:action => 'create'}, :multipart => multipart) do %>
  <%= hidden_field_tag 'page_class', @page_class %>
  <%= hidden_field_tag('group', params[:group]) if params[:group] %>
  <%= Formy.form do |form|
    render :partial => 'base_page/create/information', :locals => {:form => form}

    if sections.any_in? ['file','files','external_video','body', 'image', 'event']
      #form.header I18n.t(:create_page_data, :page_class => I18n.t(:page)).titlecase
      sections.each do |section|
        render :partial => "base_page/create/#{section}", :locals => {:form => form}
      end
    end

    render :partial => 'base_page/create/sharing', :locals => {:form => form}
  end %>
  <div class="form_buttons">
    <%# the extra submit button is needed, so that 'create' remains the default (on enter) -%>
    <%= submit_tag "hidden", :name => 'create', :style => 'display:none' %>
    <%= submit_tag '&laquo; ' + I18n.t(:back_button), :name => 'cancel' %>
    <%= submit_tag I18n.t(:create_page_button, :page_class => I18n.t(:page)) + ' &raquo;', :name => 'create' %>
  </div>
<% end %>
</div>

<%= javascript_tag %( $("page_title").focus() ) %>

