<div class='popup round' id='<%=id%>' style='<%=style%>'>
<div class='popup_arrow'></div>
<h1><%= title %></h1>
<blockquote>
  <%= body %>
</blockquote>
<%= "<div style='width:#{width}; height:1px;'></div>" if width.any? %>
</div>

