<% class_display_name = 'page'.t if class_display_name.nil? -%>
<% type = 'send' if type.nil? -%>

<div class='share_page'>
  <h2><%= 'Share this {page_class}'[:share_page_recipients, {:page_class => class_display_name}] %></h2>
  <div class='fieldset'>
    <%= render :partial => 'base_page/participation/share_page_recipients' %>    
  </div>

  <%= link_to_function("Send optional message...",
		       "$('notify_box').show();$('send_optional_message').hide();",
		       :id => "send_optional_message") %>
  <div id="notify_box" style="display:none">
  <h2><%= 'Notify'[:notify] %></h2>
  <div class='fieldset'>
    <table class='notify_page_recipients'>
    <tr>
      <td><%= check_box :notification, :send_to_inbox %></td>
      <td><%= 'Send message to inbox'[:send_message_to_inbox]%></td>
    </tr>
    <tr>
      <td><%= check_box :notification, :message %></td>
      <td><%= 'Include this message'[:include_this_message] %>:</td>
    </tr>
    <tr>
      <td></td>
      <td><%= text_area_tag 'message', '', :id => 'share_message', :rows => 6, :cols => 60 %></td>
    <tr>
    <tr>
      <td></td>
      <td>
	<%= 'Send a copy of this message via'[:send_a_copy_of_this_message_via] %>:
<br/>
	<%= check_box :notification, :send_via_email %> <%= 'Email'[:email] %>
	<%= check_box :notification, :send_via_textmessage %> <%= 'Text Message'[:text_message] %>
	<%= check_box :notification, :send_via_chat %> <%= 'Chat'[:chat] %>
	<br/>
	<%= check_box :notification, :send_only_with_encryption %> <%= 'Send only if encrypted distribution is possible'[:send_only_with_encryption] %>
      </td>
    <tr>
    </table>
  </div>
  </div><!-- notify_box -->
</div>
