<%# div#page_sidebar gets replaced by popups %>
<div id='page_sidebar'>
  <% if logged_in? -%>
    <% if @page.deleted? -%>
      <ul class='side_list commands'>
        <%= undelete_line %>
        <%= destroy_line %>
        <%= details_line %>
      </ul>
    <% else -%>
      <ul class='side_list commands'>
        <%= watch_line %>
        <%= star_line %>
      </ul>
      <ul class='side_list commands rule'>
        <%= share_line %>
        <%= public_line %>
      </ul>
      <ul class='side_list commands rule'>
        <%= delete_line %>
        <%= move_line %>
        <%= details_line %>
      </ul>
    <% end -%>
    <%= call_hook :page_sidebar_actions %>
  <% end -%>

  <h3><%= 'tags'[:tags] %></h3>
  <div class='tags'>
    <%= page_tags %>
  </div>
  <ul class='side_list commands'>
    <%= edit_tags_line %>
  </ul>

  <%- if @page.supports_attachments -%>
  <h3><%= 'attachments'[:attachments] %></h3>
  <div class='attachments'>
    <%= page_attachments %>
  </div>
  <ul class='side_list commands'>
    <%= edit_attachments_line %>
  </ul>
  <%- end -%>

  <% if @page.group_participations.any? -%>
    <h3><%= :Groups.t %></h3>
    <ul class='side_list names'>
      <% @page.sorted_group_participations.each do |group_part| %>
        <li><%= link_to_group_participation(group_part) %></li>
      <% end -%>
    </ul>
  <% end -%>

  <% if @page.user_participations.any? -%>
    <h3><%= :People.t %></h3>
    <ul class='side_list names'>
      <% @page.sorted_user_participations.each do |user_part| %>
        <li><%= link_to_user_participation(user_part) %></li>
      <% end -%>
    </ul>
  <% end -%>
</div>
