%div#messages-forms
  %div#say-box.left
    = render :partial => 'send_form'
  %div#select-messages-from.right
    = render :partial => 'select_from_form'
%br

  = action_bar(action_bar_settings)
  - action_bar_form(mark_messages_path) do
    = render :partial => '/common/action_bar/hidden_form_fields'
    = hidden_field_tag('from', params[:from])

    %div
      %table#messages{:summary => 'messages'}
        = render :partial => 'message', :collection => @discussions



  %footer
    = will_paginate(@discussions)
