%div#messages-forms
  %div#say-box.left
    = render :partial => 'send_form'
  %div#select-messages-from.right
    = render :partial => 'select_from_form'
%br

  = render :partial => 'common/action_bar', :locals => {:settings => action_bar_settings, :view_base_path => messages_path}
  - action_bar_form(mark_messages_path, action_bar_settings) do
    = render :partial => 'common/action_bar/hidden_form_fields', :locals => {:settings => action_bar_settings}
    %div
      %table#messages{:summary => 'messages'}
        = render :partial => 'message', :collection => @discussions



  %footer
    = will_paginate(@discussions)
