%div#send-message.say-box
  = render :partial => 'send_form'
%div
  %div#select-messages-from.right
    = render :partial => 'select_from_form'
  %br

  = render :partial => 'common/action_bar', :locals => {:settings => action_bar_settings}
  - action_bar_form(mark_messages_path, messages_path, action_bar_settings) do
    %div
      %table#messages{:summary => 'messages'}
        = render :partial => 'message', :collection => @discussions



  %footer
    = will_paginate(@discussions)
