%section#messages.thread
  %header
    = pagination_for(@posts)

  = action_bar(message_thread_actions)
  %table(summary='message thread' class='pretty')
    = render :partial => 'message_post', :collection => @posts, :locals => {:last_post => @posts.last}

  %div#messages-forms
    %div#send-message#say-box
      = render :partial => 'send_form', :locals => {:recipient_name => @recipient.login}

  %footer
    = pagination_for(@posts)

    .pagination.secondary
      =link_to "« " + I18n.t(:pagination_previous), previous_message_path, :class => "left"
      =link_to I18n.t(:pagination_next) + " »", next_message_path, :class => "right"
