- other_user = message.user_talking_to(current_user)
- post = message.head_post_for(current_user)
%tr{message_html_attributes(message)}
  %td.check
    = check_box_tag 'messages[]', message.id, false, :id =>"message_checkbox_#{message.id}", :class => 'message_check_box'
  %td.reply-arrow{message_reply_html_attributes(message)}
  %td.avatar
    = display_entity(other_user, :avatar => :small, :format => :short, :link => true)
  %td.message.clickable{:onclick => 'window.location.pathname="' + message_path(other_user.login, :anchor => 'last') + '"'}
    = truncate(post.body_html, :length => 300)
  %td.date
    %span.date= friendly_date(post.try.created_at)