<% content_for :style do -%>
p#inbox_buttons {
  text-align: right;
}
<% end -%>
<% @title_box = content_tag :h1, I18n.t(:my_inbox_headline) %>
<% @info_box = I18n.t(:inbox_description) %>


<%= render :partial => 'pages/search', :locals => {:users => @user.friends, :groups => @user.groups, :show_extras => 'true', :url => url_for(:action => 'search')} %><br/>

<% form_tag({:controller => 'me/inbox', :action => 'update', :path => params[:path]}, {:id => 'inbox_form'}) do -%>  

<%= render :partial => 'pages/list', :locals => {:heading => true, :checkbox => true, 
    :columns => [:checkbox, :icon, :title, :owner, :updated_by, :updated_at, :contributors]} %>

<p id='inbox_buttons'>
  <%= link_to_function I18n.t(:toggle_selection), "$$('.page_check').each(function(cb) {cb.checked = !cb.checked})" %> &nbsp;&nbsp;
  <%= submit_link I18n.t(:remove_from_inbox), :name => 'remove' %> 
</p>
  
<% end # form -%>

<% content_for :html_head do %>
  <%= me_rss %>
<% end %>

