<h1>Editing translation</h1>

<%= error_messages_for :translation %>

  <p>
    <b>Key</b><br />
    <%= h @translation.key.name %>
  </p>

  <p>
    <b>Language</b><br />
    <%= h @translation.language.name %>
  </p>

<% form_for(@translation) do |f| %>
  <p>
    <b>Text</b><br />
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<! -- %= link_to 'Show', @translation %>
<!-- %= link_to 'Back', translations_path % -->

<%= link_to 'Back', @translation.key %>
