<h1>
  <%= icon_for @asset if @asset %>
  <%=h @page.title %>
  <%= content_tag(:span,@title_addendum) if @title_addendum %>
</h1>
<div class='summary'>
  <%=h @page.summary %>
</div>
<% if current_user.may? :edit, @page -%>
<div id='title_edit_link'>
  <%= spinner('edit_title') -%>
  <%= link_to_remote(
    :edit_title.t,
    { :url => {:controller => 'base_page/title', :action => 'edit', :page_id => @page.id},
      :loading => show_spinner('edit_title') },
    :style => icon_style('actions/pencil.png')
  ) %>
</div>
<% end -%>

