<div class="title_box">
  <div>
    <h1 class="page_title">
      <%= icon_for @asset if @asset %> <%=h @page.title.capitalize %>
      <%= @back_link if @back_link %>
    </h1>
  </div>
  <% if @page.summary -%>
    <div id='summary'>
      <%=h @page.summary %>
    </div>
  <% end -%>
  <% if current_user.may? :edit, @page -%>
    <div id='title_edit_link'>
      <%= spinner('edit_title') -%>
      <%= link_to_remote('edit title',
			 { :url => {
			     :controller => 'base_page/title',
			     :action => 'edit', :page_id => @page.id},
			   :loading => show_spinner('edit_title')
			 },
			 :style => icon_style('actions/pencil.png')) %>
    </div>
  <% end -%>
</div>

