- form_for @widget do |f|
  = yield :widget_fields
  %ul
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :text
      = f.text_area :text, :size => '40x10'
  %div#mb-footer
    = f.submit
