<% @title_box = capture do -%>
<h1><%= I18n.t(:select_page_types) %></h1>
<% end %>

<%- form_tag(:controller => '/group', :action => 'edit_tools', :id => @group) do -%>
  <div id='listing-of-page-classes' class='workarea'>
  <% @available_tools.each do |klass| -%>
    <% page_class = Page.class_name_to_class(klass) -%>
    <% if ! page_class.nil?%>
      <div class="page-class"><div>
        <input type="checkbox" name="<%= klass %>" <%= @allowed_tools.index( klass ) ? "CHECKED" : "" %> />
        <%= "<b>#{page_class.class_display_name}</b>: #{page_class.class_description}" %>
      </div></div>
    <% else %>
      <div class="page-class"><div>
        <input type="checkbox" name="<%= klass %>" <%= @allowed_tools.index( klass ) ? "CHECKED" : "" %> />
        <%= "<b>#{klass}</b>:" %>
      </div></div>
    <% end %>  
  <% end -%>
  </div>
  <input type="submit" value="Save Changes">
<%- end %>
