<div class='tab-content tab-area' id="customize_advanced" style="display:none">
  <% form_for @appearance do |f| %>
    <%= hidden_field_tag 'editing_tab', 'customize_masthead' %>
    <h2><%= "Style parameters for custom appearance #{@appearance.id}" %></h2>
    <%= f.text_area :parameters, :size => "60x30", :value => f.object.parameters.to_yaml %>
    <br/>
    <%= submit_tag 'Update' %>
    <%= link_to 'Available Options', {:action => 'available', :id => @appearance}, :popup => ['Available Custom Appearance Options', 'height=600,width=650,scrollbars=1']
     %>
  <% end %>
</div>