<tr>
  <td><%= f.label :name %></td><td><%= f.text_field :full_name %></td>
</tr>
<tr>
  <td><%= f.label :url %></td><td><%= f.text_field :name %></td>
</tr>
<tr>
  <td><%= f.label :language %></td><td><%= f.select 'language', Language.find(:all).to_select(:name, :code), { :include_blank => true }  %></p></td>
</tr>
<tr>
  <td><%= f.label :summary %></td><td><%= f.text_area :summary, :size=>"50x5" %></td>
</tr>
<tr>
  <td><%= f.label :picture %></td><td><%= f.file_field :image_file %></td>
</tr>
