<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Created at</th>
  </tr>

<% for group in @groups %>
  <tr>
    <td><%= link_to_group group %></td>
    <td><%= friendly_date group.created_at %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New group', new_group_path %>
