<h1>Listing groups</h1>

<%= alphabetical_filter(:controller => 'admin/groups') %>

<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Created at</th>
  </tr>

  <% if @groups.any? -%>
    <% @groups.each_with_index do |group, i| %>
      <tr class="row_<%=i%2%>">
        <td><%= link_to_group group %></td>
        <td><%= friendly_date group.created_at %></td>
        <td>
          <span class="actions">
            <%= link_to 'Show', group %>
            <%= link_to 'Edit', edit_group_path(group) %>
            <%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %>
          </span>
        </td>
      </tr>
    <% end %>
  <% else -%>
    <tr><td colspan="4"><i>No Match</i></td></tr>
  <% end -%>
</table>

<br />

<%= link_to 'New group', new_group_path %>
