%tr
  %td.check
    - unless @not_checkeable
      = check_box_tag 'requests[]', request.id, false, :id =>"request_checkbox_#{request.id}", :class => 'request_check'
  %td= link_to avatar_for(request.created_by, 'small'), url_for_entity(request.created_by)
  %td= expand_links(request.description)
  %td.date
    = friendly_date(request.created_at)

