%div#select-bar
  %h5.left= I18n.t(:select_filter_label)
  %ul
    %li
      = link_to_function I18n.t(:messages_select_all_link), select_messages_function(:all)
      = link_to_function I18n.t(:messages_select_none_link), select_messages_function(:none)
      = link_to_function I18n.t(:messages_select_unread_link), select_messages_function(:unread)

%div#mark-as-bar
  %h5.left= I18n.t(:messages_mark_as_label)
  %ul
    %li
      = link_to_function I18n.t(:messages_mark_as_read_link), mark_selected_messages(:read)
      = link_to_function I18n.t(:messages_mark_as_unread_link), mark_selected_messages(:unread)
      = spinner 'messages_mark_as'

%div.right
  %h5.left= I18n.t(:messages_view_label)
  = view_filter_select
  = observe_field 'view_filt