<tr id="<%= dom_id(menu_item) %>" class="menu_item_drag_handle">
  <td>
    <%= menu_item.position + 1 %>
    <% spinner_id = "edit_menu_item_spinner_#{menu_item.position + 1}" %>
  </td>
  <td style="width:50%">
    <%= text_field 'menu_item', 'title', :size => 70, :style => 'width:95%' %>
  </td>
  <td style="width:50%">
    <%= text_field 'menu_item', 'link', :size => 70, :style => 'width:95%'%>
  </td>
  <td>
    <% button_id = dom_id(menu_item, :save_buttons) # id used to show the spinner %>
    <%= link_to_function_icon('ok', save_menu_item_remote_function(menu_item, button_id), :id => button_id)%>
  </td>
  <td>
    <% button_id = dom_id(menu_item, :cancel_buttons) # id used to show the spinner %>
    <%= link_to_function_icon('cancel', cancel_edit_menu_item_remote_function(menu_item, button_id), :id => button_id)%>
  </td>
</tr>
