<div class="autocomplete_results_area" id="menu_items_list">
  <table>
    <tbody class="autocomplete_results_table" id="menu_items_ids">
      <% @menu_items.each do |menu_item| %>
        <tr id="<%= dom_id(menu_item) %>" class="menu_item_drag_handle">
          <td>
            <%= menu_item.position + 1 %>
          </td>
          <td style="width:50%">
            <%= menu_item.title %>
          </td>
          <td style="width:50%">
            <%= menu_item.link %>
          </td>
          <td>
            <% button_id = dom_id(menu_item, :minus_button) # id used to show the spinner %>
            <%= link_to_function_icon('minus', destroy_menu_item_remote_function(menu_item, button_id), :id => button_id)%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% spinner_id = "menu_items_ids_" + rand(10000).to_s %>
  <%= spinner(spinner_id)%>
  <%= handle_update_menu_item_order_javascript('menu_items_ids', spinner_id) %>
<div>
