<p>Choose a language to translate Crabgrass into:</p>

<blockquote>
  <% for language in @languages %>
    <div class='language' style='direction:<%= language.rtl? ? 'rtl' : 'ltr' %>'>
      <b><%= link_to language.name, :controller => :keys, :language => language %></b>
      <span>(<%= language.percent_complete %>)</span>
    </div> 
  <% end %>
</blockquote>

<br style='clear:both'/>
<br/><br/><br/><br/>
<%= button_to 'export translations and restart crabgrass', :action => 'apply_translations' %>
<%= button_to 'refresh list of available keys', :action => 'import_english' %>
