<h1>Email Blast</h1>

<% form_tag  'email_blasts/blast' do -%>
<table id = email-blasts>  
  <tr>
    <td colspan="2" style="font-size:10px; line-height: 1.4; color: #4978bc;" ><i>(Type the user login or group name e.g. "blue" or "devgroup" or everyone &lt;everyone&gt;. Separate multiple recipients with ";" or "," or space)</i></td>
  </tr>
  <tr>
    <td><%=  label_tag 'to', 'To' %></td>
    <td><%= text_area_tag 'to', nil, :rows => 3, :cols => 40 %></td>
  </tr>
  <tr>
    <td><%=  label_tag 'subject', 'Subject' %></td>
    <td colspan="2"><%= text_field_tag 'subject', '', :size => 70, :style => 'font-size:12px; width: 99%' %></td>
  </tr>
  <tr>
    <td><%=  label_tag 'body', 'Body' %></td>
    <td colspan="2"><%= text_area_tag 'body', nil, :rows => 10, :cols => 70, :style => 'font-size:12px; width: 100%' %></td>
  </tr>
</table>
<br /><br />
<input class= "right" type="submit" name="submit" value="Send" style="width:7em; margin-right:14px" />
<br /><br />
<% end -%>


