<%= "<h1>Keys for #{@language.name}</h1>" if @language %>

<p><%= key_navigation_links %></p>

<%- if params[:filter] == 'search' -%>
<p>
  <%- form_tag({:controller => 'keys'}, :method => :get) do -%>
    <%= hidden_field_tag :language, @language.to_param %>
    <%= hidden_field_tag :filter, 'search' %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'search' %>
  <%- end -%>
</p>
<%- end -%>

<p><%= pagination_links(@keys) %></p>

<% if @language %>
  <ul>
    <% for key in @keys %>
      <li>
        <%= link_to key.name, :controller => :translations, :action => 'new', :key => key, :language => @language.code%>
      </li>
    <% end %>
  </ul>
<% else %>
  <ul>
    <% for key in @keys %>
      <li>
        <%= link_to key.name, key %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= pagination_links(@keys) %>
