<p>
  <b>Key Name:</b>
  <%=h @key.name %>
</p>

<p>
  <b>Text in <%= Language.default.name %>:</b>
  <%= @key.default %>
</p>

<p>
  <b>Already translated to:</b>
  <% @key.translations.each do |t| %>
    <% outdated = t.out_of_date? ? " (outdated)" : "" %>
    <% for_site = t.site ? " (for #{t.site.title})" : "" %>
    <%= link_to h(t.language.name + outdated + for_site), edit_translation_path(t) %>
  <% end %>
</p>

<p>
  <b>Translate to: </b>
  <%= translate_key_languages_links(nil) %>
</p>
<p>
  <b>Translate for a single site: </b>
  <table>
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><b><%= site.title %></b>:</td>
          <td><%= translate_key_languages_links(site) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</p>

<br/><br/>

<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>
