<% form_remote_tag(*options_for_edit_tag_form) do -%>
  <h2 class="first"><%= I18n.t(:current_tags) %></h2>

  <% if( @page.tags.any? ) %>
    <div class="edit_tags selfclear">
    <% @page.tags.sort_by{|t|t.name}.each do |tag| %>
      <%= remove_tag_link( tag ) %>
    <% end %>
    </div>
  <% else %>
    <p>(<%= I18n.t(:no_tags) %>)</p>
  <% end %>

  <h2><%= I18n.t(:add_tags) %></h2>
  <%= I18n.t(:add_one_or_more_tags)%>:
  <p>
    <%= text_field_tag( 'add', '', { :size => 20, :tabindex => 1 } ) %>
    <%= submit_tag I18n.t(:add_button), :name => 'add' %>
  </p>

  <div class='buttons'>
    <%= spinner('tag') %>
    <%= submit_tag I18n.t(:close_button), :name => 'close' %>
    <%# close_modal_button %>
  </div>

<% end %>
