<% render :partial => 'me/messages/tabs' %>

<%# move to stylesheets when we have a real design for this page %>
<% content_for :style do %>
table.pretty td {vertical-align: top;}
<% end %>

<div class="say_box">
<%= render(
  :partial => 'common/say_form',
  :locals => {
    :submit => I18n.t(:send_message_link), 
    :url => my_private_messages_path,
    :recipient => true
  }
) %>
</div>

<table class="pretty">
  <tr>
    <td><h2 class="alert">Person</h2></td>
    <td></td>
    <td><h2 class="alert">Last Message</h2></td>
  </tr>
<% for discussion in @discussions %>
  <% relationship = discussion.relationships.for_user(current_user) %>
  <% other_user = relationship.contact %>
  <tr class="clickable" onclick="window.location='<%= my_private_message_path(other_user)%>'">
    <td>
      <%= display_entity(other_user, :avatar => :small, :format => :twolines) %>
    </td>
    <td>
      <%= relationship.unread_count %>/<%= discussion.posts_count %> <%= I18n.t(:unread) %>
    </td>
    <% if post = (discussion.last_post_by(other_user) || discussion.last_post) %>
      <td>
        <i><%= friendly_date(post.created_at) %>
        <%= h(post.user.display_name) %></i>
        <%= post.body_html %>
      </td>
     <% else %>
      <td>&nbsp;</td>
     <% end %>
  </tr>
<% end %>
</table>

<%= pagination_links(@discussions) %>
