- content_for :banner do
  = render :partial => 'banner'

- content_for :secondary_nav do
  = render :partial => 'menu'

- if @second_nav == 'all'
  - content_for :third_nav do
    = render :partial => 'browse_people_tabs'

%section#people_listing
  = render :partial => 'users'

  %br.clear
  %h3{:class=>'dim pagination_label'}
    = I18n.t(:new_people_in_weeks)
  = pagination_links @users

= call_hook :bottom_people_list

