- if @second_nav == 'all'
  - content_for :third_nav do
    = render :partial => 'browse_people_tabs'

- if @description_key.present?
  = render :partial => 'common/info_box', :locals => {:description => I18n.t(@description_key)}

%section#people_listing
  = letter_pagination_links({}, :available_letters => @pagination_letters)
  = render :partial => 'users', :collection => @users
  %br.clear
  = pagination_links @users

= call_hook :bottom_people_list


