!!!
%html{:dir=>language_direction}

  = render :partial => 'layouts/ui_base_head'

  %body{:class=>language_direction}
    %div#page
      %header.page
        =render :partial => 'layouts/ui_header'
      %section#breadcrumb
        = render :partial => 'layouts/ui_breadcrumb'
      //
      // content wrapper
      //
      %div#content
        %div#content-container
          %div#content-wrap
            %aside#identity-info
              = yield :sidebar
            %div#main-content
              = yield

      = render :partial => 'layouts/ui_footer'
        