/
/ full content width
/
#content-container
  #banner-container
    %header#banner
      = yield :banner

  /
  / secondary nav (always required?)
  /
  - if yield :secondary_nav
    #second-level-container
      %nav#second-level
        = yield :secondary_nav
  /
  / misc placeholder
  /
  - if yield :misc_header
    = yield :misc_header

  #content-wrap

    - if yield :right_sidebar

      %div#alpha10
        #main-content
          = yield
      %aside#sidebar
        = yield :right_sidebar
    - else
      #main-content-full
        = yield

