%section#group-name
  %h1
    = @group.full_name
  %section#group-action
    - if may_join_chat?
      = link_to(I18n.t(:group_join_chat), {:controller => 'chat', :action => 'channel', :id => @group.name})
      
    %ul
      %li
        = edit_settings_link 
      %li
        = leave_group_link

%nav#group
  %ul
    %li
      = link_to(I18n.t(:home), url_for_group(@group))
    %li
      %a{:href => "#"}
        ALL CONTENT
    %li
      = link_to(I18n.t(:tasks), group_search_url(:action => 'tasks'))
