%header
  = render :partial => '/layouts/base/group_header'

%section#helpful-links
  = render :partial => '/layouts/base/group_links'

%section#wiki
  = render :partial => '/layouts/base/group_wiki'

- if @announcements.any?
  = render :partial => '/layouts/base/announcements'

%section#pages
  = render :partial => '/layouts/base/pages'
