%section#titlebar
  %section#titlebar-container
    %section#title
      = custom_masthead_site_title
      /%h2 Site Name sss
      %section#search
        = render :partial => '/pages/mini_search'
%nav.page
  %section#nav-container
    %section#nav
      = render :partial => '/layouts/base/menu'
      = render :partial => '/layouts/base/menu_user'

//        %li Welcome userName
//        %li  
//          %a{:href => "#"}  inbox(4)
//        %li  
//          %a{:href => "#"}  Help
//        %li  
//          %a{:href => "#"}  Sign Out


%section#breadcrumb
  %section#breadcrumb-container
    = link_to_breadcrumbs




