- #
- # helpers at menu_helper.rb
- #
%ul#menu
  - #for now, i am disabling these tabs when not logged in. why? because
  - # the controllers currently bomb out in bad ways if you are not logged in.
  - if logged_in?
    - if current_site.network
      = home_option
    = me_option
    = people_option
    = groups_option
    - if current_site.has_networks?
      = networks_option
    - if current_site.chat?
      = chat_option
    - if may_admin_site?
      = admin_option
  - else
    = home_option
  = call_hook :top_menu

