- form_remote_for([@widget, menu_item], form_options) do |f|
  %div{:style => 'float:right; width: 7em; text-align: right;'}
    = spinner(spinner_id)
    = submit_link submit_title
    = toggle_object_display(I18n.t(:cancel), menu_item, :list, :form)
  = f.label :title, I18n.t(:title), :style => 'width:6em'
  = f.text_field :title, :size => 70, :style => 'width:15em'
  %br/
  = f.label :link, I18n.t(:link), :style => 'width:6em'
  = f.text_field :link, :size => 70, :style => 'width:15em'
  = f.hidden_field :id
  = f.hidden_field :parent_id
