<li id="<%= dom_id(menu_item) %>" class="menu_item_drag_handle" style='width:30em'>
  <div class='hover' id="<%= dom_id(menu_item, :show) %>">
    <div style="float: right; width: 7em; text-align: right;">
      <% spinner_id = dom_id(menu_item, :delete_button) # id used to show the spinner %>
      <%= spinner(spinner_id) %>
      <%= link_to_function( I18n.t(:edit), nil) do |page|
        page.toggle(dom_id(menu_item, :show))
        page.toggle(dom_id(menu_item, :edit))
      end %><br/>
      <%= link_to_function(I18n.t(:delete), destroy_menu_item_remote_function(menu_item, spinner_id))%>
    </div>
    <b><%= menu_item.title %></b>
    <br/>
    <%= menu_item.link %>
  </div>
  <%= render :partial => '/menu_items/form', :locals => {:menu_item => menu_item} %>
