<%= settings_tabs %>

<!-- table for some pretty formatting -->
<table class='form'>
  <tr>
    <td class="label">
      Pages
    </td>
    <td>
    <blockquote>
      <%= render :partial => 'features_form' %>
    </blockquote>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <div class="info">
        <%= I18n.t(:updating_this_list_will_update_featured_pages) %>
      </div>
    </td>
  </tr>
</table>

<% form_tag(groups_params(:action => 'show'), :method => :get, :multipart => false) do %>

  <p class="form_buttons"><%= submit_tag I18n.t(:done_button), :name => nil %></p>
<% end %>

  
  <tr>
    <td></td>
    <td>
      <div class='buttons'>
        <%= spinner 'features' %>
      </div>
    </td>
  </tr>
