<%#
### TITLE BOX
#%> 

<%- @title_box = capture do -%>
<p style="float:right; margin:20px; color:#999;"><%= last_login(@user) %></p>
<h1>
  <%= @user.display_name %>
  <em class='status'><%= h(@user.current_status) if @user.current_status %></em>
</h1>
<%- end -%>

<%#
### INFO BOX
#%> 

<%- @info_box = capture do -%>
  <table class="profile-fun">
    <tr>
      <td class="profile-wall">
        <%= header_with_more :h3, :dim, ":user's Wall"[:users_wall]%{:user => @user.display_name}, "/#{@user.login}?show_full_wall=true" %>
        <%= render :partial => 'profile/wall_post_form' %>
        <%= render :partial => 'profile/wall_discussion', :locals => {:posts => @wall_posts} unless @wall_posts.empty? %>
      </td>
      <td class="profile-activity">
        <%= header_with_more :h3, :dim, "Recent Activity".t %>
        <%= render :partial => 'activity/list' %>
      </td>
    </tr>
  </table>
<%- end -%>

<%#
### PAGES
#%>

<div class='section'>
  <%= header_with_more(:h2, :alert, "Recent Contributions".t, person_search_url('descending', 'updated_at')) %>
  <div class='page_scroll'>
    <%= render :partial => 'pages/list' %>
    <br/>
    <%= link_to :more.t + ARROW, person_search_url('descending', 'updated_at') %>
  </div>
</div>
