<%#
### TITLE BOX
#%> 

<%- @title_box = capture do -%>
<p style="float:right; margin:20px; color:#999;"><%= last_login(@user) %></p>
<h1>
  <%= @user.display_name %>
  <em class='status'><%= h(@status) || ''  %></em>
</h1>
<%- end -%>

<%#
### INFO BOX
#%> 

<% @message_box = render(
  :partial => 'common/say_form',
  :locals => {
    :submit => "Say"[:say_message_button],
    :url => person_messages_path(@user)
  }
) %>
<%- @info_box = capture do -%>
  <%- length = @activities.size -%>
  <%- half = (length/2.0).ceil -%>
  <table class="columns three_sections">
    <%- if may_create_messages? -%>
    <tr>
       <td colspan="2" class="say_box"><%= @message_box %></td>
    </tr>
    <%- end -%>
    <tr>
      <td class="left">
        <%# header_with_more :h3, :dim, "Recent Activity".t %>
        <%= render :partial => 'activity/list', :locals => {:activities => @activities[0..(half-1)]} %>
      </td>
      <td class="right">
        <%= render :partial => 'activity/list', :locals => {:activities => @activities[(half)..(length-1)]} %>
      </td>
    </tr>
  </table>
<%- end -%>

<%#
### PAGES
#%>

<div class='section'>
  <%= header_with_more(:h2, :alert, "Recent Contributions".t, person_search_url(:descending => 'updated_at')) %>
  <div class='page_scroll'>
    <%= render :partial => 'pages/list' %>
    <br/>
    <%= link_to :more.t + ARROW, person_search_url(:descending => :updated_at) %>
  </div>
</div>
