<%#
### TITLE BOX
#%> 

<%- @title_box = capture do -%>
<p style="float:right; margin:20px; color:#999;"><%= last_login(@user) %></p>
<h1>
  <%= @user.display_name %>
  <em class='status'><%= h(@user.current_status) if @user.current_status %></em>
</h1>
<%- end -%>

<%#
### INFO BOX
#%> 

<%- @info_box = capture do -%>
  <%- length = @activities.size -%>
  <table class="columns">
    <tr>
      <td class="left">
        <%= header_with_more :h3, :dim, "Recent Activity".t %>
        <%= render :partial => 'activity/list', :locals => {:activities => @activities[0..((length+2)/2-1)]} %>
      </td>
      <td class="right">
        <%= render :partial => 'activity/list', :locals => {:activities => @activities[((length+2)/2)..(length-1)]} %>
        <%= header_with_more :h3, :dim, "Public Message Wall"[:wall_heading] %>
        <%= render :partial => 'messages/form' %>
      </td>
    </tr>
  </table>
<%- end -%>

<%#
### PAGES
#%>

<div class='section'>
  <%= header_with_more(:h2, :alert, "Recent Contributions".t, person_search_url('descending', 'updated_at')) %>
  <div class='page_scroll'>
    <%= render :partial => 'pages/list' %>
    <br/>
    <%= link_to :more.t + ARROW, person_search_url('descending', 'updated_at') %>
  </div>
</div>
