<div class='landing'>

<!--
<%# unless logged_in? -%>
  <%# render :partial => 'profile/show', :locals => {:profile => @user.profiles.public} %>
<%# end -%>
-->

  <%= link_line(friend_link) %>

  <%= render( :partial => 'profile/show', :locals => {:profile => @user.profiles.visible_by(current_user)} ) %>


  <%#
  ### PAGES
  #%>

  <div class='section'>
    <%= header_with_more(:h2, :alert, "Recent Contributions".t, person_search_url('descending', 'updated_at')) %>
    <div class='page_scroll'>
      <%= render :partial => 'pages/list' %>
      <br/>
      <%= link_to :more.t + ARROW, person_search_url('descending', 'updated_at') %>
    </div>
  </div>

</div>

