- content_for :banner do
  %section#identity-name
    %div.left
      %h1
        = @group.full_name

    %div#group-action
      = create_page_link(@group)
      - if may_join_chat?
        %a#chat.small_icon.chat2_16{:href => url_for({:controller => 'chat', :action => 'channel', :id => @group.name})}  
          %strong
            = I18n.t(:group_join_chat)
      = leave_group_link
      = join_group_link

- content_for :info_box do
  %nav#group
    = render :partial => '/groups/navigation/menu'


