<h3><%= 'Navigation'.t %></h3>
<ul class='side_list'>
  <li>
   <%= link_to 'search', groups_url(:action => 'search', :id => @group, :path => nil) %>
  </li>
  <li>
    <%= link_to 'archive', groups_url(:action => 'archive', :id => @group, :path => nil) %>
  </li>
  <li>
    <%= link_to 'tags', groups_url(:action => 'tags', :id => @group) %>
  </li>
  <li>
    <%= link_to 'tasks', groups_url(:action => 'tasks', :id => @group) %>
  </li>
</ul>

