- content_for :banner do
  = render :partial => '/groups/navigation/header_small'

- content_for :secondary_nav do
  = render :partial => '/groups/navigation/menu'

- content_for :third_nav do
  = render :partial => '/groups/navigation/settings_tabs'


%section#form-settings
  - form_tag(groups_path(@group),:method => :put, :multipart => true) do
    = render :partial => '/groups/basic/form'
    %p.form_buttons= submit_tag I18n.t(:save_button), :name => 'save'
  - call_hook :group_edit
