- if @group.committee?
  - headline = I18n.t(:new_committee, :group_name => @parent.name)
  - url = committees_url(:action => :create, :id => @parent)
- elsif @group.council?
  - headline = I18n.t(:new_council, :group_name => @parent.name)
  - url = councils_url(:action => :create, :id => @parent)
- elsif @group.network?
  - headline = I18n.t(:new_network)
  - url = networks_url(:action => "create")
- elsif @group.normal?
  - headline = I18n.t(:new_group)
  - url = groups_url(:action => :create)

- if @group.committee? or @group.council?
  - content_for :left_sidebar do
    = render :partial => '/groups/navigation/settings_sidelinks'
  - content_for :third_nav do
    = render :partial => '/groups/navigation/admin_tabs'

= content_tag(:h3, headline)
- if @group.network?
  %p= I18n.t(:new_network_description, :new_group_url => groups_url(:action => 'new', :controller => 'groups'))

- form_tag(url,:id => "createform", :multipart => true) do
  = render(:partial => 'groups/basic/form', :locals => {:submit => false})
  = render(:partial => 'networks/initial_membership_form') if @group.network?
  %div.form_buttons
    = submit_tag I18n.t(:create_button)

= javascript_tag "Form.focusFirstElement('createform');"

