<%- @title_box = capture do -%>
  <h1><%= I18n.t(:group_home_headline, :group_type => @group.group_type.capitalize) %></h1>
<%- end -%>

<%- @info_box = capture do -%>
 <%= render :partial => 'groups/landing/info_box' %>
<%- end -%>

<% content_for :html_head do %>
  <link rel="alternate" href="/groups/search/<%= @group.name %>/rss" title="<%= I18n.t(:rss_feed) %>" type="application/rss+xml" />
<% end %>

<div class='landing'>
<%= render :partial => 'groups/landing/content' %>
</div>

