- content_for :html_head do
  %link{:rel => 'alternate', :href => "/groups/search/#{@group.name}/rss", :title => I18n.t(:rss_feed), :type =>'application/rss+xml'}

- content_for :extended_sidebar do
  = render :partial => '/groups/navigation/sidebar'

- if may_list_memberships?(@group)
  - content_for :third_nav do
    = render :partial => '/groups/navigation/home_tabs'

%section#group-wiki
  = render :partial => 'widgets/group_wiki'

= render :partial => '/announcement_page/announcements'

= list_pages :title => I18n.t(:recent_pages), :with_cover => true
