- content_for :html_head do 
  %link{:rel => 'alternate', :href => "/groups/search/#{@group.name}/rss", :title => I18n.t(:rss_feed), :type =>'application/rss+xml'}

- content_for :sidebar do
  = render :partial => 'groups/navigation/sidebar'


%header
  = render :partial => 'group_header'

%section#helpful-links
  = render :partial => 'group_links'

%section#wiki
  = render :partial => 'group_wiki'

= render :partial => '/announcement_page/announcements'

= render :partial => '/pages/list'

