<h1>Editing key</h1>

<% form_for(@key) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update", :name => 'update' %>
    <%= f.submit "Destroy", :name => 'destroy' %>
  </p>
<% end %>

<%= link_to 'Show', @key %> | <%= link_to 'Back', keys_path %>
