<h1>Listing keys</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for key in @keys %>
  <tr>
    <td><%=h key.name %></td>
    <td><%= link_to 'Show', key %></td>
    <td><%= link_to 'Edit', edit_key_path(key) %></td>
    <td><%= link_to 'Destroy', key, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New key', new_key_path %>
