<%= "<h1>Keys for #{@language.name}</h1>" if @language %>

<p><%= key_navigation_links %></p>

<%= pagination_links(@keys) %>

<% if @language %>
  <ul>
    <% for key in @keys %>
      <li>
        <%= link_to key.name, :controller => :translations, :action => 'new', :key => key, :language => @language.code%>
      </li>
    <% end %>
  </ul>
<% else %>
  <ul>
    <% for key in @keys %>
      <li>
        <%= link_to key.name, key %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= pagination_links(@keys) %>
