<%= "<h1>Listing #{@adjective} keys in #{@language.name}</h1>" %>

<p>
<%= link_to "untranslated", :controller => :keys, :language => @language %>,
<%= link_to "translated", :controller => :keys, :language => @language, :translated => true %>,
<%= link_to "all", :controller => :keys, :language => @language, :all => true %>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for key in @keys %>
  <tr>
    <td><%=h key.name %></td>
    <td><%= link_to 'Translate', :controller => :translations, :action => :new, :key => key, :language => @language %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New translation key', new_key_path %>
