<p>
  <b>Key Name:</b>
  <%=h @key.name %>
</p>

<p>
  <b>already translated to:</b>
  <% @key.translations.each do |t| %>
  <% outdated = t.updated_at < @key.default_translation.updated_at ? " (outdated)" : "" %>
  <%= link_to h(t.language.name + outdated), edit_translation_path(t) %>
  <% end %> 
</p>


<% for language in @languages -%>
  <%= link_to("Translate to #{ language.name }", :controller => :translations, :action => :new, :key => @key.id, :language => language.id) unless @key.languages.include?(language) %>
<% end -%>

<br/><br/>

<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>
