<p>
  <b>Key Name:</b>
  <%=h @key.name %>
</p>

<%= render :partial => 'gibberize/translations/translations', :locals => { :translations => @key.translations } %>

<% for language in @languages -%>
  <%= link_to "Translate to #{ language.name }", :controller => :translations, :action => :new, :key => @key.id, :language => language.id %><br/>
<% end -%>

<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>
