<%
  after_load_js = %Q[
   after_load_function = function() {
     Field.focus('login')}}); return false;
  }]
%>
<div id="login_popup">
  <% form_tag :controller => 'account', :action => 'login' do -%>
  <%= hidden_field_tag 'redirect', params[:redirect] || request.request_uri %>
  <table>
    <tr>
      <td><%= I18n.t(:username) %></td>
      <td><%= text_field_tag 'login' %></td>
    </tr>
    <tr>
      <td><%= I18n.t(:password) %></td>
      <td><%= password_field_tag 'password' %></td>
    </tr>
    <tr><td colspan="2" style="text-align:right">
        <%# link_line(link_to(I18n.t(:signup_link), {:controller => '/account', :action => 'signup', :redirect => params[:redirect]}), link_to(I18n.t(:forgot_password_link), :controller => '/account', :action => 'forgot_password')) %>
        <%= button_to_function I18n.t(:cancel_button), "Modalbox.hide();" %>
        <%= submit_tag I18n.t(:log_in) %>
      </td></tr>
  </table>
<% end -%>
</div>
