<h2><%= I18n.t(:forgot_password_link) %></h2>
<p>
  <%= I18n.t(:forgot_password_text) %>
</p>
<% form_tag({}, :method => :post) do %>
<p>
<%= I18n.t(:forgotten_email_address) %>
<br />
<%= text_field_tag :email, "", :size => 50 %>
</p>
<p>
<%= submit_tag I18n.t(:reset_password) %>
</p>
<% end %>
