<div id="swatch_container_<%= index %>" class="swatch_container">
  <span id="swatch_<%= image.id -%>" class="gallery_swatch gallery_swatch_edit">
    <%= thumbnail_img_tag(image, :medium) %>
  </span>
</div>

<%= drop_receiving_element("swatch_container_#{index}",
			   :onHover => "sort_images",
			   :onDrop => "function() {
			   #{remote_function(:url => {
					     :controller => 'gallery',
					     :action => 'update_order'
					   },
					   :loading => 'saving_changes_notifier();',
					   :success => 'update_notifier("Saved new order!");',
					   :failure => 'update_notifier("Error saving new order!");',
					   :with => "'images='+images.toJSON()+'&page_id=#{@page.id}'")}; }",
                           :hoverclass => 'swatch_container_hover',
                           :url => { :controller => 'gallery',
                                     :action => 'update_order'},
			   :loading => "saving_changes_notifier") %>

<%= draggable_element("swatch_#{image.id}",
		      :revert => true) %>

<%= javascript_tag "
image = new Hash();
image.set('position', #{index});
image.set('id', #{image.id});
images.push(image);
" %>
