<div id="swatch_container_<%= index %>" class="swatch_container">
  <span id="swatch_<%= image.id -%>" class="gallery_swatch gallery_swatch_edit handle gallery_swatch_<%= image.image_format -%>">
    <%= thumbnail_img_tag(image, :medium) %>
    <div id="image_control_<%= image.id -%>" class="image_control">
      <%= gallery_delete_image(image, index) %>
      <%= gallery_move_image_without_js(image) %>
      <%= gallery_make_cover(image) %>
    </div>
  </span>
</div>

<%= drop_receiving_element("swatch_container_#{index}",
			   :onHover => "sort_images",
			   :onDrop => "function() {
			   #{remote_function(:url => {
					     :controller => 'gallery',
					     :action => 'update_order'
					   },
					   :loading => 'saving_changes_notifier();',
					   :success => "update_notifier('#{I18n.t(:saved_new_order)}');",
					   :failure => "update_notifier('#{I18n.t(:error_saving_new_order)}');",
					   :with => "'images='+images.toJSON()+'&page_id=#{@page.id}'")}; }",
                           :hoverclass => 'swatch_container_hover',
                           :url => { :controller => 'gallery',
                                     :action => 'update_order'},
			   :loading => "saving_changes_notifier") %>

<%= draggable_element("swatch_#{image.id}",
		      :revert => true) %>

<%= javascript_tag "
add_image(#{image.id},#{index});
" %>
