- content_for :right_sidebar do
  = render :partial => 'base_page/sidebar'

= render :partial => 'gallery/tabs'

.info
  = I18n.t :show_gallery_explaination

- if @images.any?
  #gallery-container
    %ul#show_gallery
      = render :partial => 'image', :collection => @images
      %br{:style => 'clear:both'}/
      = pagination_links @images
- else
  = I18n.t :no_images_in_gallery

