<%= gallery_navigation :count, :download %>

<div id="detail_view">
  <%= detail_view_navigation(@page, @previous, @image, @next) %>

  <div id="detail_image"><%= link_to thumbnail_img_tag(@image, 'large'), @image.url %></div>
  <span id="detail_image_title">
    <% if @image.page -%>
      <%= @image.page.title %>
    <% else -%>
      <%= "(no title given)"[:no_title_given] %>
    <% end -%>
  </span>
</div>
