- @info_box = gallery_navigation

- content_for :right_sidebar do
  = render :partial => 'base_page/sidebar'

= render :partial => 'gallery/tabs'

%h2.big_icon.page_gallery_48
  = I18n.t :edit_gallery

.info
  = I18n.t :edit_gallery_explaination

= choose_files_link

= render :partial => 'gallery/notify_area'

= render :partial => 'gallery/draggable_images'
