- @info_box = gallery_navigation

- content_for :right_sidebar do
  = render :partial => 'base_page/sidebar'

= render :partial => 'gallery/tabs'

%h2.big_icon.page_gallery_48.title
  = I18n.t :edit_gallery

.info-edit-gallery
  = I18n.t :edit_gallery_explaination

.action
  = upload_images_link

= render :partial => 'gallery/notify_area'

= render :partial => 'gallery/draggable_images'
