<% @info_box = gallery_navigation %>

<%= javascript_tag "
var images = new Array();
function sort_images(droppable, target, event) {
  for(i=0;i<images.size();i++) {
    var img = images[i];
    if(img.get('id') == droppable.id.gsub('swatch_','')) {
      var image = img;
      break;
    }
  }

  var new_pos = target.id.gsub('swatch_container_','');

  if(new_pos == image.get('position'))
    return;

  if(new_pos < image.get('position')) {
    images.each(function(img) {
      if(img.get('position') < image.get('position') &&
         img.get('position') >= new_pos) {
        img.set('position', img.get('position')-1+2);
      }
    });
  }
  else {
    images.each(function(img) {
      if(img.get('position') > image.get('position') &&
         img.get('position') <= new_pos) {
        img.set('position', img.get('position')-1);
      }
    });
  }

  image.set('position', new_pos);

  // redraw everything
  redraw_images();
}

function redraw_images() {
  images.each(function(img){
    $('swatch_container_'+img.get('position')).appendChild($('swatch_'+img.get('id')));
  });
}

function remove_image(image_id) {
  $('swatch_'+image_id).getOffsetParent().hide();
}

function undo_remove(image_id, position) {
  $('swatch_'+image_id).getOffsetParent().show();
  image = $('swatch_container_'+image_id);
  if(!image)
    return false;
  add_image(image_id, position);
  $('swatch_'+image_id).getOffsetParent().show();
}


function update_notifier(text, spinner) {
  if(spinner)
    text = \"#{spinner('', :show => true)}\"+text;
  $('gallery_notify_area').innerHTML = text;
}

function add_image(id, position) {
  image = new Hash();
  image.set('position', position);
  image.set('id', id);
  images.push(image);
}

function saving_changes_notifier() {
  update_notifier('#{I18n.t(:saving_your_changes)}', true);
}
" %>

<%= spinner('gallery') %>
<div id="gallery_notify_area">
  <noscript>
    <%= I18n.t(:activate_js_to_rearrange_photos) %>
  </noscript>
</div>

<%= javascript_tag("$('gallery_notify_area').innerHTML = '" +
I18n.t(:drag_and_drop_to_rearrange_photos) + "';") %>

<div class="gallery_edit">
<% if @images.any? -%>
  <% @images.each_with_index do |image, i| -%>
    <%= render(:partial => 'image_edit',
	       :locals => { :image => image, :index => i }) %>
  <% end -%>
  <br style='clear:both'/>
  <%= pagination_links @images %>
<% else %>
  <%= I18n.t(:no_images_in_gallery) %>
<% end %>
</div>

