<% @info_box = gallery_navigation %>
<h2><%= I18n.t(:add_photo_to_gallery) %></h2>
<ul style="list-style-type:none;">
  <% @images.each do |asset| %>
    <li style="display:inline;">
      <span>
	<%= link_to(thumbnail_img_tag(asset, :small),
                    page_xurl(@page, :action => 'add', :id => asset.id),
                              :method => :post) %>
	<%= asset.page.title if asset.page %>
      </span>
    </li>
  <% end %>
</ul>

<%= pagination_links(@images, :params => {:action => 'find'}) %>

<p>
  <%= link_to I18n.t(:cancel_link), page_url(@page) %>
</p>
