<% @title_box += gallery_navigation %>
<h2><%= "Add Photo To Gallery"[:add_photo_to_gallery] %></h2>
<ul style="list-style-type:none;">
  <% @images.each do |asset| %>
    <li style="display:inline;">
      <span>
	<%= link_to(thumbnail_img_tag(asset, :small),
                    page_xurl(@page, :action => 'add', :id => asset.id),
                              :method => :post) %>
	<%= asset.page.title %>
      </span>
    </li>
  <% end %>
</ul>

<%= pagination_links(@images) %>

<p>
  <%= link_to 'cancel'[:cancel_link], page_url(@page) %>
</p>
