<% content_for :style do %>
div.gallery_swatch {
  float: left;
  padding: 0 2em 2em 0;
}
<% end %>

<%= gallery_navigation :count, :download, :edit, :upload %>
<div id="gallery_overview">
<% if @images.any? %>
  <%= render :partial => 'image', :collection => @images %>
  <br style='clear:both'/>
  <%= pagination_links @images %>
<% else %>
  <%= "No images in gallery"[:no_images_in_gallery] %>
<% end %>
</div>

<p><%= link_to 'add existing image'[:add_existing_image], page_url(@page, :action => 'find') %></p>
<p><%= link_to 'upload new image'[:upload_new_image], create_page_url(AssetPage, :gallery => @page.id) %></p>

