<% content_for :style do %>
div.gallery_swatch {
  float: left;
  padding: 0 2em 2em 0;
}
<% end %>

<%= gallery_navigation :count, :download, :edit, :upload, :slideshow, :comment %>
<div id="gallery_cover">
  <%= thumbnail_img_tag @page.cover, 'large' if @page.cover%>
</div>

<div id="gallery_overview">
<% if @images.any? %>
  <%= render :partial => 'image', :collection => @images %>
  <br style='clear:both'/>
  <%= pagination_links @images %>
<% else %>
  <%= "No images in gallery"[:no_images_in_gallery] %>
<% end %>
</div>


