<% unless request.xhr? -%>
  <%= gallery_navigation :show %>
<% end -%>

<h2>Upload Images</h2>
<% form_tag page_url(@page, :action => 'upload'), :method => :post, :multipart => true do -%>
  <table>
    <%= render :partial => 'upload' -%>
  </table>
  <%= spinner('upload') %>
  <%= submit_tag "upload".t, :onClick => "$('upload_spinner').show();" %>
  <%= button_to_function "cancel".t, "new Effect.SlideUp($('target_for_upload'));" %>
<% end -%>

<%= javascript_tag "if($('target_for_upload')) $('target_for_upload').show();" %>
