<% @title_box = '<h1>Chat Messages Moderation</h1>' %>

<% @info_box = capture do %>
  <div style="display:inline; float:right;">
    <%= link_to_see_all_flags_by_type('chats') %>
  </div>
  <div style="display:inline; margin-left:0;">
    <%= "Flagged Messages:"%>&nbsp;
    <span class="small_icon flag_orange_16"><%= tab_link('new')%></span>&nbsp;
    <span class="small_icon flag_green_16"><%= tab_link('vetted')%></span>&nbsp;
    <span class="small_icon flag_red_16"><%= tab_link('deleted')%></span>
  </div>
<% end %>

<div class="page_list">
  <%= render :partial => 'listing' if @messages.any? %>

  <%= '<em>There are no messages for this view</em>' unless @messages.any?%>
</div>


