- form_for @widget do |f|
  = yield :widget_fields
  %div#mb-header
  %ul
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label 'Map Data'
      %ul
        %li= f.radio_button(:kml, 'groups', :checked => (@widget.kml == 'groups')) + ' Show all groups'
        %li
          = f.radio_button(:kml, 'by_network', :checked => (@widget.kml == 'by_network')) + ' Show Groups by Network: '
          - if @widget.new_record?
            .info Please specify which networks to display after creating the widget.
          - else
            = link_to_modal(I18n.t(:edit), :title => "Select Networks to Display on the Map", :url => widget_menu_items_url(@widget))
    %li
      = f.label 'Map Center'
      %div[@widget, :map_center]
        = current_map_center(@widget)
      %div[@widget, :edit_center]
        %span.statement Select a country and city,  
        %div.wrap
          %div.wrap-inner
            = country_dropdown_for_search
            = state_dropdown
          = city_text_field
          = city_id_field
        
        %span.statement or enter a latitude and longitude:
        %div.wrap
          %span.label Latitude 
          = f.text_field(:map_center_latitude)
          %span.label Longitude 
          = f.text_field(:map_center_longitude)
    %li
      = f.label 'Zoom Level'
      = select_field_for_map_zoomlevel(@widget)
  %div#mb-footer
    = f.submit
