- form_for @widget do |f|
  = yield :widget_fields
  %div#mb-header
    %label Current map center:
    = current_map_center(@widget)
  %ul
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label 'Map Data'
      %ul
        %li= f.radio_button(:kml, 'groups', :checked => (@widget.kml == 'groups')) + ' Show all groups'
        %li
          = f.radio_button(:kml, 'custom', :checked => (@widget.kml == 'custom')) + ' Custom KML: '
          = f.text_field :custom_kml
    %li
      = f.label 'Map Center'
      %span.statement Select a country and city,  
      %div.wrap
        %div.wrap-inner
          = country_dropdown_for_search
          = state_dropdown
        = city_text_field
        = city_id_field
      
      %span.statement or enter a latitude and longitude:
      %div.wrap
        %span.label Latitude 
        = f.text_field(:map_center_latitude)
        %span.label Longitude 
        = f.text_field(:map_center_longitude)
    %li
      = f.label 'Zoom Level'
      = select_field_for_map_zoomlevel(@widget)
  %div#mb-footer
    = f.submit
