<% popup('Page Details'[:page_details], :id => 'details_popup', :width => "40em") do -%>

  <blockquote>
    <div id="popup_message"></div>
    <table class='fieldset plain'>
    <tr>
      <td><b><%= 'Owner'[:page_list_heading_owner] %></b></td>
      <td><%= select_page_owner(_erbout) %></td>
    </tr>
    <tr>
      <td><b><%= 'Created'[:page_list_heading_created] %></b></td>
      <td><%= link_to_user @page.created_by_login %> (<%=friendly_date(@page.created_at)%>)</td>
    </tr>
    <tr>
      <% if @page.deleted? -%>
        <td><b><%= 'Deleted'[:page_list_heading_deleted] %></b></td>
      <% else -%>
        <td><b><%= 'Updated'[:page_list_heading_updated] %></b></td>
      <% end -%>
      <td><%= link_to_user @page.updated_by_login %> (<%=friendly_date(@page.updated_at)%>)</td>
    </tr>
    </table>
  </blockquote>

  <%= render :partial => 'base_page/participation/details_tabs' -%>
  <div class='tab-content tab-area' id='permissions_tab'>
    <%= render :partial => 'base_page/participation/permissions' %>
  </div>
  <div class='tab-content tab-area' id='participation_tab' style='display:none'>
    <%= render :partial => 'base_page/participation/participation' %>
  </div>

  <div class='buttons'>
    <% form_remote_tag(
    :url => {:controller => 'participation', :action => 'close_details', :page_id => @page.id},
    :loading => show_spinner('popup')) do -%>
     <%= spinner 'popup' %>
     <%= submit_tag :close_button.t, :name => 'cancel' %>
    <% end -%>
  </div>

<% end -%>
