<% popup('Page Details', :id => 'details_popup', :style => '') do -%>

  <div style='width:40em'></div>

    <%= render :partial => 'base_page/participation/details_tabs' -%>
    <div class='tab-content tab-area' id='permissions_tab'>
      <%= render :partial => 'base_page/participation/permissions' %>
    </div>
    <div class='tab-content tab-area' id='participation_tab' style='display:none'>
      <%= render :partial => 'base_page/participation/participation' %>
    </div>

    <p>
      <% form_remote_tag(
      :url => {:controller => 'participation', :action => 'close_details', :page_id => @page.id},
      :loading => show_spinner('popup')) do -%>

       <%= submit_tag 'Close', :name => 'cancel' %>
       <%= spinner 'popup' %>
      <% end -%>
    </p>

<% end -%>
