<%= render :partial => 'base_page/participation/details_tabs' -%>

<div class='tab_content tab_area' id='information_tab'>
  <%= render :partial => 'base_page/participation/information' %>
</div>

<div class='tab_content tab_area' id='permissions_tab' style='display:none'>
  <%= render :partial => 'base_page/participation/permissions' %>
</div>

<div class='tab_content tab_area' id='participation_tab' style='display:none'>
  <%= render :partial => 'base_page/participation/participation' %>
</div>

<div class='buttons'>
  <% form_remote_tag(
  :url => {:controller => 'participation', :action => 'show', :page_id => @page.id},
  :loading => show_spinner('popup')) do -%>
   <%= spinner 'popup' %>
   <%= submit_tag I18n.t(:close_button), :name => 'cancel' %>
  <% end -%>
</div>

