<% popup('Page Details'[:page_details], :id => 'details_popup', :width => "40em") do -%>

    <table class='fieldset'><tr>
      <td><b><%= :created.t %>:</b> <%= link_to_user @page.created_by_login %> (<%=friendly_date(@page.created_at)%>)</td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td><b><%= :updated.t %>:</b> <%= link_to_user @page.updated_by_login %> (<%=friendly_date(@page.updated_at)%>)</td>
    </tr></table><br/>

    <%= render :partial => 'base_page/participation/details_tabs' -%>
    <div class='tab-content tab-area' id='permissions_tab'>
      <%= render :partial => 'base_page/participation/permissions' %>
    </div>
    <div class='tab-content tab-area' id='participation_tab' style='display:none'>
      <%= render :partial => 'base_page/participation/participation' %>
    </div>

    <p>
      <% form_remote_tag(
      :url => {:controller => 'participation', :action => 'close_details', :page_id => @page.id},
      :loading => show_spinner('popup')) do -%>

       <%= submit_tag :close_button.t, :name => 'cancel' %>
       <%= spinner 'popup' %>
      <% end -%>
    </p>

<% end -%>
