<table cellpadding='5' class='pretty'>
  <tr>
    <th align='left'><%= I18n.t(:user) %></th>
    <th align='left'><%= I18n.t(:viewed) %></th>
    <th align='left'><%= I18n.t(:contributed) %></th>
    <th>&nbsp;</th>
  </tr>

% uparts = @page.user_participations.paginate(:page => params[:page], :per_page => 15, :include => :user, :order => 'users.login ASC')
% uparts.each do |upart|
%   next unless upart.user
    <tr class='<%=cycle "odd","even"%>'>
      <td><%= upart.user.login %></td>
      <td><%= friendly_date(upart.viewed_at) %></td>
      <td><%= friendly_date(upart.changed_at) %></td>
      <td>
        <%= upart.viewed? ? I18n.t(:read) : I18n.t(:unread) %>
        <%= icon_tag "tiny_pending" unless upart.resolved? %>
        <%= icon_tag "tiny_star" if upart.star? %>
      </td>
    </tr>
% end
</table>
% if uparts.total_entries > uparts.per_page
<%= pagination_links(uparts, :params => {:controller => 'base_page/participation', :action => 'index', :page_id => @page.id, :tab => 'participation'}) %>
% end


