<div class='pretty'>
  <table cellpadding='5'>
    <tr>
      <th align='left'><%= :user.t %></th>
      <th align='left'><%= :viewed.t %></th>
      <th align='left'><%= :contributed.t %></th>
      <th>&nbsp;</th>
    </tr>

    <% @page.user_participations.each do |upart| -%>
    <% next unless upart.user -%>
    <tr class='<%=cycle "odd","even"%>'>
      <td><%= upart.user.login %></td>
      <td><%= friendly_date(upart.viewed_at) %></td>
      <td><%= friendly_date(upart.changed_at) %></td>
      <td>
        <%= upart.viewed? ? 'read'.t : 'unread'.t %>
        <%= image_tag "emblems/pending.png", :size => "11x11", :title => 'pending' unless upart.resolved? %>
        <%= image_tag "emblems/star.png", :size => "11x11", :title => 'star' if upart.star? %>
      </td>
    </tr>
    <% end -%>
  </table>
</div>
