<div>
  <table cellpadding='5' class='pretty'>
    <tr>
      <th align='left'><%= :user.t %></th>
      <th align='left'><%= :viewed.t %></th>
      <th align='left'><%= :contributed.t %></th>
      <th>&nbsp;</th>
    </tr>

    <% @page.user_participations.each do |upart| -%>
    <% next unless upart.user -%>
    <tr class='<%=cycle "odd","even"%>'>
      <td><%= upart.user.login %></td>
      <td><%= friendly_date(upart.viewed_at) %></td>
      <td><%= friendly_date(upart.changed_at) %></td>
      <td>
        <%= upart.viewed? ? 'read'.t : 'unread'.t %>
        <%= icon_tag "tiny_pending" unless upart.resolved? %>
        <%= icon_tag "tiny_star" if upart.star? %>
      </td>
    </tr>
    <% end -%>
  </table>
</div>
