<%= render :partial => 'base_page/participation/share_page_recipient_list', :locals => {:empty_box => empty_box} %>   

<table class='share_page_recipients'>
  <tr>
    <th><%= 'User or group name'[:user_or_group_name]%>:</th>
    <th><%= 'Grant Access'[:grant_access]%>:</th>
    <th></th>
  </tr>
  <tr>
    <th><%= text_field_with_auto_complete :recipient, :name, {:size=>28}, {:url => {:controller => 'base_page/participation', :action => 'auto_complete_for_recipient_name', :page_id => @page ? @page.id : 44 }, :after_update_element=> "function(field,value) {field.value = field.value.strip(); }"} %></th>
    <th>
      <%- if @page.nil? or current_user.may?(:admin,@page) -%>
      <%= select_page_access 'recipient[access]', :blank => (type=='send') %>
      <%- end -%>
    </th>
    <th>
      <%= link_to_function 'Add', 'new_recipient();' %>
    </th>
  </tr>
</table>
