<% popup('Share This Page', :id => 'share_popup', :style => 'width: 40em') do -%>

  <% form_remote_tag(
    :url => {:controller => 'base_page/participation', :action => 'share', :page_id => @page.id},
    :loading => show_spinner('popup'),
    :html => {:id => 'share_page_form'}) do -%>

    <p><b><%= 'Share this page with' %>:</b></p>
    <p><%= text_area_tag 'recipients', '', :rows => 5, :cols => 60, :id => 'recipients' %></p>
    <%= select_tag('people_drop',
        option_empty('add person:') + options_for_select(@page.users.to_select(:cut_name, :name)),
        :onchange => '$("recipients").value += $("people_drop").value + "\n"') %>
    <%= select_tag('group_drop',
        option_empty('add group:') + options_for_select(@page.namespace_groups.to_select(:cut_name, :name)),
        :onchange => '$("recipients").value += $("group_drop").value + "\n"') %>
    <p><b><%= 'Optional message' %>:</b></p>
    <%= text_area_tag 'message', '', :id => 'message', :rows => 6, :cols => 60 %>
    <p>
      <%= submit_tag 'Cancel', :name => 'cancel' %>
      <%= submit_tag 'Share', :name => 'share' %>
      <%= spinner 'popup' %>
    </p>

  <% end -%>

<% end -%>

