<% upload_image_form = capture do %>
  <% form_for(:asset, Asset.new(), :url => image_popup_upload_url(wiki), :html => {:multipart => true, :target => 'upload_frame'}) do |f| -%>
     <%= f.file_field 'uploaded_data', :size => '12' %>
     <%= submit_tag 'Upload' %>
     <%= spinner 'upload' %>
  <% end -%>
  <iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
<% end %>

<div id='<%= image_popup_id(wiki) %>' class='image_popup'>

<%= Formy.form do |f|
  f.row do |r|
    r.label 'Size'
    r.input radio_buttons_tag('image_size', [[I18n.t(:small), 'small'], [I18n.t(:medium),'medium'], [I18n.t(:large), 'large'], [I18n.t(:full), 'full']], :id => 'image_size-' + wiki.id.to_s)
  end
  f.row do |r|
    r.label 'Options'
    r.input check_box_tag('link_to_image', "true", false) + I18n.t(:include_full_checkbox)
  end
  f.row do |r|
    r.label 'Images'
    r.input popup_image_list(wiki)
  end
  f.row do |r|
    r.label 'New Image'
    r.input upload_image_form
  end
end %>

<div class="buttons">
  <%= close_modal_button(:cancel) %><%= button_to_function I18n.t(:insert_image), insert_image_function(wiki)+close_modal_function() %>
</div>

</div>

