/ locals: wiki, no_title
- unless local_assigns[:no_title]
  %h3
    = I18n.t(:wiki)
    %span.right
      = wiki_edit_link(wiki.id)
%div.wiki
  - if local_assigns[:preview]
    = wiki.render_preview(preview)
  - else
    = wiki.body_html
%span.right
  - if local_assigns[:preview]
    = wiki_more_link(wiki.id)
  = wiki_edit_link(wiki.id)
