%ul{:class=>'menu_me_left'}
  %li{:class=>'small_icon plus_16'}
    = link_to I18n.t(:contribute_content_link), new_page_url
  %li{:class=>'small_icon house_16'}
    = link_to I18n.t(:me_dashboard_link), '/pages/my_work'
  %li{:class=>"small_icon page_message_16"}
    = link_to I18n.t(:messages), '/messages'
  %li{:class=>"small_icon page_tasks_16"}
    = link_to I18n.t(:me_tasks_link), '/me/tasks/pending'
  %li{:class=>'small_icon info_16'}
    = link_to I18n.t(:requests), '/requests'
  %li{:class=>"small_icon magnifier_16"}
    = link_to I18n.t(:me_search_link), '/me/search'
  %li{:class=>"small_icon trash_16"}
    = link_to I18n.t(:trash),{:controller => '/me/trash'}

