%ul{:class=>'menu_me_left'}
  %li{:class=>'small_icon plus_16'}
    = link_to I18n.t(:contribute_content_link), new_me_page_url
  %li{:class=>'small_icon house_16'}
    = link_to I18n.t(:pages), '/pages/my_work'
  %li{:class => 'small_icon page_message_16'}
    = link_to I18n.t(:social_activities_tab), '/me/social-activities'
  %li{:class=>"small_icon page_message_16"}
    = link_to I18n.t(:messages), '/me/messages'
  %li{:class=>"small_icon page_tasks_16"}
    = link_to I18n.t(:me_tasks_link), '/me/tasks/pending'
  %li{:class=>'small_icon info_16'}
    = link_to I18n.t(:requests), '/me/requests'
=#  %li{:class=>"small_icon magnifier_16"}
=#    = link_to I18n.t(:me_search_link), '/me/search'
=#  %li{:class=>"small_icon trash_16"}
=#    = link_to I18n.t(:trash),{:controller => '/me/trash'}

