<% approvable = true if approvable.nil? -%>
<% destroyable = false if destroyable.nil? -%>
<div>
  <table class='pretty'>
    <tr>
      <th><%= I18n.t(:created_by) %></th>
      <th><%= I18n.t(:date) %></th>
      <th><%= I18n.t(:description) %></th>
      <th><%= I18n.t(:state) %></th>
      <%- if approvable or destroyable -%>
        <th><%= I18n.t(:action) %></th>
      <%- end -%>
    </tr>
    <%- requests.each do |request| -%>
      <tr>
        <td><%= link_to_user(request.created_by) %></td>
        <td><%= friendly_date(request.created_at) %></td>
        <td><%= expand_links(request.description) %></td>
        <td><%= I18n.t(request.state.to_sym) %></td>
        <%- if approvable -%>
          <td><%= request_action_links(request) %></td>
        <%- elsif destroyable -%>
          <td><%= request_destroy_link(request) %></td>
        <%- end -%>
      </tr>
    <%- end -%>
  </table>
</div>

