<% @title_box = capture do -%>
  <%= link_to_breadcrumbs %>
  <h1><%=h "Send invitations to join {group}"[:send_invites_headline, {:group => @group.display_name}] %></h1>
<% end -%>

<blockquote>
  <p><%= group_type == 'network' ? :network_invite_info.t : :invite_info.t % group_type.t %>
  <br/> <i>(<%= :recipient_tip.t %>)</i></p>
  <%- form_tag(:controller => '/requests', :action => 'create_invite', :group_id => @group.id) do -%>
    <p>
      <%= text_area_tag 'recipients', params[:recipients], :rows => 2, :cols => 50 %>
    </p>
    <!-- <p><%= "Optional message".t%>:<br/>
      <%# text_area_tag 'message', params[:message], :rows => 2, :cols => 50 %>
    </p> -->
    <%= submit_tag 'Send invites'[:send_invites_button], :name => 'send' %>
    <%= submit_tag 'Cancel'[:cancel_button], :name => 'cancel' %>
  <% end -%>
</blockquote>


