<% @title_box = capture do -%>
  <h1><%=h "Requests for %s"[:requests_for_group] % @group.display_name %></h1>
<% end -%>

<%= request_state_links %>

<h2><%= "Incoming"[:incoming] %></h2>
<%= render :partial => 'requests/table', :locals => {:requests => @incoming} %>

<%= pagination_links(@incoming, :in_page) %>

<% unless params[:state] == 'ignored' -%>
  <h2><%= "Outgoing"[:outgoing] %></h2>
  <%= render :partial => 'requests/table', :locals => {:requests => @outgoing, :approvable => false, :destroyable => true} %>

  <%= pagination_links(@outgoing, :out_page) %>
<% end -%>
