<p>
  <b>Code:</b>
  <%=h @language.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @language.name %>
</p>

<%= render :partial => 'translations/translations', :locals => { :translations => @language.translations } %>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
