<% form_remote_tag :url => pages_url(@page, :action => 'update_title'), :before => show_spinner('save_title') do %>

<p>
  page title<br/>
  <%= text_field 'page', 'title', :style => 'width: 90%', :class => 'h1' %>
</p>
<p>
  optional unique name (used to create the URL for this page)<br/>
  <%= text_field 'page', 'name', :style => 'width: 90%' %>
</p> 
<p>
  summary<br/>
  <%= text_area 'page', 'summary', :style => 'width: 90%', :size => '50x2' %>
</p>
<p>
  <%= submit_tag 'Save', :name => 'save' %>
  <%= submit_tag 'Cancel', :name => 'cancel' %>
  <%= spinner('save_title') -%>
</p>

<% end %>

