- pages ||= @pages
= render(:partial => heading_partial) if local_assigns[:heading_partial]

%section#pages{:class=> local_assigns[:full_width] ? 'full' : ''}
  %header
    - if local_assigns[:title] && !title.blank?
      %h3
        = title
        %div.right
          = render(:partial => pages_dropdown) if local_assigns[:pages_dropdown]
          = pagination_for(pages)
    - else
      = pagination_for(pages) unless local_assigns[:no_top_pagination]

  - if pages
    = render(:partial => block_above_pages_list_partial) if local_assigns[:block_above_pages_list_partial]
    = render :partial => '/pages/page', :collection => pages, :locals => page_locals(local_assigns)
  - else
    -# we might want to display some "no page found" message here

  %footer
    - if defined?(pagination_link) && pagination_link.present?
      %span.pagination
        = pagination_link
    - else
      = pagination_for(pages)

