- content_for :third_nav do
  = render :partial => 'pages/tabs'
= render :partial => 'common/title_box', :locals => {:title => I18n.t(title_key_for(params[:view] || :public))}
= render :partial => 'common/info_box', :locals => {:description => I18n.t(description_key_for(params[:view] || :public))}
= render :partial => 'common/action_bar', :locals => {:settings => action_bar_settings, :view_base_path => all_me_pages_path}

- action_bar_form(mark_me_pages_path, action_bar_settings) do
  = render :partial => 'common/action_bar/hidden_form_fields', :locals => {:settings => action_bar_settings}
  = render :partial => 'pages/list', :locals => {:layout => '/pages/checkbox', :full_width => true}
