<% @title_box = content_tag :h1, I18n.t(:my_work_headline) %>
<% @info_box = I18n.t(:my_work_description) %>
<% form_tag(flag_pages_path, :method => :put) do -%>
  <div id='page_buttons'>
    Mark as:
    <%= submit_link I18n.t(:mark_as_read), :name => 'read' %>
    <%= submit_link I18n.t(:mark_as_unread), :name => 'unread' %>
    <%= submit_link I18n.t(:mark_as_watched), :name => 'watched' %>
    <%= submit_link I18n.t(:mark_as_unwatched), :name => 'unwatched' %> <br/>
    Select:
    <%= link_to_function I18n.t(:all_selection),
      "$$('.page_check').each(function(cb) {cb.checked = true})" %> &nbsp;&nbsp;
    <%= link_to_function I18n.t(:none_selection),
      "$$('.page_check').each(function(cb) {cb.checked = false})" %> &nbsp;&nbsp;
    <%= link_to_function I18n.t(:unread_selection),
      "$$('.page_check').each(function(cb) {cb.checked = (cb.class == 'unread')})" %> &nbsp;&nbsp;
  </div>
  <%# Make sure to check out the expanded list css in root/site_home.html.erb %>
  <%= render :partial => 'pages/list', :locals => {:checkbox => true} %>
<% end %>

