      <table>
        <tr>
          <td align='right'><b><%= 'Created by'.t %>:</b></td>
          <td>&nbsp;</td>
          <td><%= link_to_user(@page.created_by, :avatar => 'xsmall') if @page.created_by %></td>
        </tr>
        <tr>
          <td align='right'><b><%= 'Created on'.t %>:</b></td>
          <td>&nbsp;</td>
          <td><%= friendly_date(@page.created_at) %></td>
        </tr>
        <tr>
          <td align='right'><b><%= 'File size'.t %>:</b></td>
          <td>&nbsp;</td>
          <td><%= friendly_size(@asset.size) %></td>
        </tr>
        <tr>
          <td align='right'><b><%= 'Format'.t %>:</b></td>
          <td>&nbsp;</td>
          <td><%= @asset.format_description.t %> (<%=@asset.ext%>)</td>
        </tr>
      </table>

