<div id='asset_page' style='height:1%'>

    <div class='left'>
      <div id='preview_wrapper'><div id='preview_area' class='<%= preview_area_class(@asset) %>'>
      <%= if @asset.embedding_partial.any?
            render :partial => @asset.embedding_partial
          else
            asset_link_with_preview(@asset) 
          end %>
      </div></div>
      <p><%= download_link %> &nbsp;&nbsp; <%= upload_link %></p>
      <div id="upload_new" style="display: none;">
        <% form_tag page_url(@page, :action => 'update'), :multipart => true do -%>
          <%= file_field_tag 'asset[uploaded_data]' %>
          <%= submit_tag 'upload' %>
        <% end %>
      </div>
    </div>

    <div class='right'>
      <h2 class='section'><%= I18n.t(:information) %></h2>
      <%= render :partial => 'information' %>

      <%= render :partial => 'galleries' %>

      <br/>
      <h2 class='section'><%= I18n.t(:history) %></h2>
      <%= render :partial => 'version_history' %>
      <br/>
      <h2 class='section'><%= I18n.t(:other_formats) %></h2>
      <%= render :partial => 'thumbnails' %>
    </div> <!-- end right -->

</div> <!-- end asset_page -->
<br style='clear:both'/>

