- action = 'update' if action.nil?     # either 'update' or 'notify'
- add_button_id = 'add_recipient_button'
- access_value = may_select_access_participation? ? "$('recipient_access').value" : "'#{Conf.default_page_access}'"
- add_action = widget_add_action(action, add_button_id, access_value)


%table.share_page_recipient_add
  %tr
    %td#autocomplete_container{ :style => "width:100%" }
      = text_field_tag 'recipient_name', '', :style => 'width:100%', :onkeypress => add_recipient_widget_key_press_function(add_action)
      = add_recipient_widget_autocomplete_tag(add_action)
    %td
      &nbsp;
    %td
      - if action == 'update' and may_select_access_participation?
        = select_page_access 'recipient[access]', :blank => false
      - else
        = hidden_field_tag 'recipient[access]'
    %td
      = link_to_remote_icon('plus', add_action, :id => add_button_id)

#share_page_recipient_area.autocomplete_results_area{ :style => "display:none" }
  = render :partial => 'base_page/share/list_of_recipients'
