<%
  # defaults
  forced_send     = false if forced_send.nil?
  send_notice     = false if send_notice.nil?
  include_message = false if include_message.nil?
  send_email      = false if send_email.nil?

  check_box_options = {:checked => send_notice, :onclick => "checkboxToggle(this, 'notification_details');" + resize_modal}
  if forced_send
    check_box_options.merge!({:checked => true, :disabled => true})
    send_notice = true
  end
%>

  <tr>
    <td><%= check_box :notification, :send_notice, check_box_options %></td>
    <td style="width:100%">
      <label for='notification_send_notice'>
        <%= I18n.t(:share_send_notification)%>
      </label>
    </td>
  </tr>
  <tbody id='notification_details' style='<%= 'display:none' unless send_notice %>'>
  <tr>
    <td></td>
    <td>
      <%= I18n.t(:share_additional_notification) %>:
      <label><%= check_box :notification, :send_email, :checked => send_email %> <%= I18n.t(:email) %></label>
<!--
these are not supported yet.
      <label><%= check_box :notification, :send_sms %> <%= I18n.t(:text_message) %></label>
      <label><%= check_box :notification, :send_xmpp %> <%= I18n.t(:chat) %></label>
      <br/>
      <label><%= check_box :notification, :send_encrypted %> <%= I18n.t(:send_only_with_encryption) %></label>

-->
    </td>
  </tr>
  <tr>
    <td><%= check_box :ignored, :include_message, :checked => include_message, :onClick => "checkboxToggle(this, 'share_message_holder');" + resize_modal %></td>
    <td>
      <label for='ignored_include_message'>
        <%= I18n.t(:share_include_message) %>
      </label>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><div id='share_message_holder' style='<%= "display:none" unless include_message %>'>
      <%= text_area :notification, :send_message, :rows => 6, :cols => 60 %>
    </div></td>
  </tr>
  </tbody>

