<% class_display_name = I18n.t(:page) if class_display_name.nil? -%>
<% type = 'send' if type.nil? -%>

<table class='notify'>
  <tr>
    <td colspan="2"><h2 class="first"><%= I18n.t(:recipients) %></h2></td>
  </tr>
  <tr>
    <td colspan="2">
      <%= render :partial => 'add_recipient_widget', :locals => {:empty_box => true, :action => 'notify'} %>
    </td>
  </tr>

% if @page.contributors_count #> 0
  <tr class='gap'>
    <td class="check"><%= check_box 'recipients', ':contributors' %></td>
    <td><%= label 'recipients', ':contributors', I18n.t(:notify_contribution) %></td>
  </tr>
% end

  <tr class='gap'>
    <td class="check"><%= check_box 'recipients', ':participants' %></td>
    <td><%= label 'recipients', ':participants', I18n.t(:notify_current_access) %></td>
  </tr>

  <tr class='gap'>
   <td colspan="2"><h2><%= I18n.t(:notification_message) %></h2></td>
  </tr>
  <%= render :partial => 'notification_message_form', :locals => {:forced_send => true} %>

</table>



