<% 
   # locals:
   users = [] if users.nil?
   groups = [] if groups.nil?

   users.sort!{|a,b|a.name<=>b.name}
   groups.sort!{|a,b|a.name<=>b.name}

   klass = 'recipient_checkbox_'+rand(1000000).to_s
-%>

<table>

  <tr><td cospan='2'><label>
    <%= check_box_tag('check_all', 1, false, :onClick => "toggleAllCheckboxes(this, 'input.#{klass}')") %>
    <%= I18n.t(:check_all) %>
  </label></td></tr>

  <% if groups.any? and !users.empty? %>
  <tr><td cospan='2'><b><%= I18n.t(:groups) %></b></td></tr>
  <% end %>

  <%= column_layout(2, groups, :skip_table_tag => true, :balanced => true) do |recipient| 
    recipient_checkbox_line(recipient, :class => klass)
  end %>

  <% if users.any? and !groups.empty? %>
  <tr><td cospan='2'><b><%= I18n.t(:users) %></b></td></tr>
  <% end %>

  <%= column_layout(2, users, :skip_table_tag => true, :balanced => true) do |recipient| 
    recipient_checkbox_line(recipient, :class => klass)
  end %>

</table>

