- group = @group unless local_assigns[:group]
- profile = group.profiles.public
%div{:id => ('popup_entity_'+group.id.to_s), :class => 'single-group'}
  = avatar_for(group, 'small')
  %h3
    = group.display_name
  %p
    = profile.summary_html
  %div{:class => 'small_icon location_20'}
    = profile.geo_city_name + ', '
    = profile.geo_location.geo_country.name
  #map_summary_footer
    - if !local_assigns[:no_back_link]
      = render :partial => '/groups/profiles/map_summary_footer_back_link'
    %span{:style => 'float: right;'}= link_to 'Visit project page', group_path(group)
