- content_for :banner do
  = render :partial => '/groups/navigation/header_small'

- content_for :secondary_nav do
  = render :partial => '/groups/navigation/menu'

- content_for :third_nav do
  = render :partial => '/groups/navigation/settings_tabs'


%section#settings-form
  - form_tag(groups_profiles_params(:action => :edit), :multipart => true) do
    = render :partial => '/groups/profiles/edit_form'
    %p.form_buttons= submit_tag I18n.t(:save_button), :name => 'save'

