- form_for @widget do |f|
  = yield :widget_fields
  %ul
    %li.image-title
      = f.label :title
      = f.text_field :title
    %li.image-title
      = f.label :link
      = f.text_field :link
  %div#mb-footer
    = f.submit
