- form_for @widget do |f|
  = yield :widget_fields
  %ul
    %li.title
      = f.label :title
      = f.text_field :title
    %li.title
      = f.label :french
      = f.text_field :french
    %li.option
      = f.label :next_line, "Text below image"
      = f.check_box :next_line
      Start the text below the image. Otherwise it will show up next to the image.
    %li.image
      = f.label :image
      = f.text_field :image
    %li.link
      = f.label :link
      = f.text_field :link
  %div#mb-footer
    = f.submit
