<%= hidden_field_tag 'page[type]', "AnnouncementPage" %>
<table class="form">
  <tr>
    <td><%= label_tag 'page[owner]', "Owner" %></td>
    <td><%= select_tag 'page[owner]', options_for_page_owner(:include_me => false, :group => (@page.owner && @page.owner.kind_of?(Group) ? @page.owner : nil)) %></td>
  </tr>
  <tr>
    <td><%= label_tag 'page[title]', "Title" %></td>
    <td><%= text_field_tag 'page[title]', @page.title %></td>
  </tr>
  <tr>
    <td><%= label_tag 'body', "Body" %></td>
    <td><%= text_area_tag 'body', @page.wiki ? @page.wiki.body : '' %></td>
  </tr>
</table>
