<% content_for :html_head do -%>
  <%= javascript_include_tag "as_needed/nicedit/nicEdit.js" %>
<% end -%>

<% content_for :script do -%>
  bkLib.onDomLoaded(function() {
    new nicEditor({
      buttonList : ['bold','italic','underline','strikethrough', 'ol','ul','indent','outdent','fontFormat','link','unlink','image','removeformat','html'],
      iconsPath : '<%= javascript_path "as_needed/nicedit/nicEditorIcons.gif" %>',
      onImgButtonClick : function() {<%= modalbox_function(image_popup_show_url(@wiki), :title => 'Insert Image'[:insert_image]) %>}
    }).panelInstance('<%= wiki_editor_id(@wiki) %>');
  });
<% end -%>

<% form_tag(page_xurl(@page, :action => 'edit')) do -%>
  <%= hidden_field 'wiki', 'version' %>
  <div id="wysiwyg_container">
    <textarea name="wiki[body_wysiwyg]" style="width:100%; height:435px" id="<%= wiki_editor_id(@wiki) %>"></textarea>
  </div>
  <div>
   <% if locked_for_me? -%>
     <%= submit_tag 'Break Lock'[:break_lock_button], :name => 'break_lock' %>
   <% else -%>
     <%= submit_tag 'Save'[:save_button], :name => 'save' %>
   <% end -%>
   <%= submit_tag 'Cancel'[:cancel_button], :name => 'cancel' %>
  </div>
<% end -%>
