<%##
  # NOTES
  #
  # There are some plugins that might be nice, but they do not have language files,
  # which causes xinha to pop up a really annoying error message when you are not using english.
  #
  # For now, just disable all the plugins that come with xinha.
  #
  # The bootstrap vars _editor_url is in html_head because it needs to be defined
  # before the scripts are included.
  ##%>

<% content_for :html_head do -%>
  <% javascript_tag do -%>
    _editor_url  = "/javascripts/wiki/xinha/";
    _editor_lang = "<%= html_editor_language_code %>";
  <% end -%>
<% end -%>

<% content_for :script do -%>
  <%= define_insert_image_function @wiki %>
  <%= define_create_link_function @wiki %>

  xinha_init = function() {
    xinha_editors = ["<%= wiki_body_html_id(@wiki)%>"];

    xinha_config = new Xinha.Config();

    xinha_config.toolbar = [
      ["formatblock", "bold", "italic", "underline", "strikethrough", "removeformat"],
      ["separator", "insertorderedlist", "insertunorderedlist", "outdent", "indent"],
      ["separator", "selectall", "insertimage", "createlink"]
    ];

    xinha_plugins = [
      {plugin:"InsertImage", url:"/javascripts/wiki/insert_image.js"},
      {plugin:"CreateLink", url:"/javascripts/wiki/create_link.js"},
    ];
    if(!Xinha.loadPlugins(xinha_plugins, xinha_init)) return;

    xinha_config.formatblock = {
      "&mdash; Paragraph &mdash;": "",
      "Normal"     : "p",
      "Heading 1"  : "h1",
      "Heading 2"  : "h2",
      "Heading 3"  : "h3",
      "Heading 4"  : "h4",
      "Preformatted" : "pre"
    };

    xinha_config.showLoading = false;
    xinha_config.autofocus = true;

    xinha_config.pageStyleSheets = ["/stylesheets/html_editor/editable_html.css"];

    xinha_config.height = "450px"
    xinha_editors = Xinha.makeEditors(xinha_editors,xinha_config,xinha_plugins);
    Xinha.startEditors(xinha_editors);
  };
  Xinha.addOnloadHandler(xinha_init);
<% end -%>

<div class="html_editor_wrapper" style="height: 454px">
  <textarea name="wiki[body_html]" id="<%= wiki_body_html_id(@wiki)%>" style="width: 100%; height: 447px"><%= greencloth_to_editable_html(@wiki.body, @page.owner_name || 'page') if load_content %></textarea>
</div>
