<%
  render :partial => 'wiki_page/tabs'
  @show_posts = false
  separator = Conf.text_editor_sym == :html_preferred ? '' : '|'
%>
<%= Formy.tabs(:type => :simple, :separator => separator) do |f|
  if Conf.allow_greencloth_editor?
    f.tab do |t|
      t.id       "link-tab-greencloth"
      t.selected preferred_editor_tab == :greencloth
      t.label    wiki_editor_tab_label(:plain)
      if Conf.text_editor_sym == :html_preferred
        t.class  "page_url float_right"
      else
        t.class  "page_url"
      end
      t.function "selectWikiEditorTab('%s', %s)" % [
        page_xurl(@page, :action => 'update_editors', :editor => 'greencloth'),
        {
          :wiki_id => @wiki.id,
          :tab_id  => 'link-tab-greencloth',
          :area_id => 'tab-edit-greencloth',
          :editor  => 'greencloth',
          :token   => form_authenticity_token
        }.to_json
      ]
    end
  end

  if Conf.allow_html_editor?
    f.tab do |t|
      t.id       "link-tab-html"
      t.selected preferred_editor_tab == :html
      t.label    wiki_editor_tab_label(:html)
      t.class    "page_url"
      if separator == ""
        t.style  "padding-right: 1em; margin-right: 0.75em; border-right: 2px solid #ccc;"
      end
      t.function "selectWikiEditorTab('%s', %s)" % [
        page_xurl(@page, :action => 'update_editors', :editor => 'html'),
        {
          :wiki_id => @wiki.id,
          :tab_id  => 'link-tab-html',
          :area_id => 'tab-edit-html',
          :editor  => 'html',
          :token   => form_authenticity_token
        }.to_json
      ]
    end
  end

  f.tab do |t|
    t.id       "link-tab-preview"
    t.label    I18n.t(:preview)
    t.class    "page_url"
    t.function "selectWikiEditorTab('%s', %s)" % [
      page_xurl(@page, :action => 'update_editors', :editor => 'preview'),
      {
        :wiki_id => @wiki.id,
        :tab_id  => 'link-tab-preview',
        :area_id => 'tab-edit-preview',
        :editor  => 'preview',
        :token   => form_authenticity_token
      }.to_json
    ]
  end
end %>

<% form_tag(page_url(@page, :action => 'update'), :id => wiki_form_id(@wiki), :method => 'put') do -%>
<%= hidden_field 'wiki', 'version' %>
<% locked_error_message -%>

% if Conf.allow_greencloth_editor?
<div id="tab-edit-greencloth" class="tab_content" style="<%= 'display:none' if preferred_editor_tab != :greencloth %>">
  <%= render :partial => "wiki_page/edit_greencloth", :locals => {:load_content => preferred_editor_tab == :greencloth} %>
</div>
% end

% if Conf.allow_html_editor?
<div id="tab-edit-html" class="tab_content" style="<%= 'display:none' if preferred_editor_tab != :html %>">
  <%= render :partial => "wiki_page/edit_wysiwyg", :locals => {:load_content => preferred_editor_tab == :html} %>
</div>
% end

<div id="tab-edit-preview" class="tab_content" style="display:none">
  <div class="wiki" id="<%= wiki_preview_id @wiki %>"></div>
</div>

<div id="tab-edit-loading" class="tab_content" style="display:none">
  <%= big_spinner %>
</div>

<div class="wiki_buttons">
  <% if locked_for_me? -%>
    <%= submit_tag I18n.t(:break_lock_button), :name => 'break_lock' %>
  <% else -%>
    <%= submit_tag I18n.t(:save_button), :name => 'save' %>
  <% end %>
  <% unless @wiki_is_blank %>
    <%= submit_tag I18n.t(:cancel_button), :name => 'cancel' %>
  <% end %>
</div>

<% end %>
