<%
  render :partial => 'tabs'
  active_tab = current_user.setting.preferred_editor_sym
  @show_posts = false
%>
<%= Formy.tabs(:type => :simple) do |f|
  f.tab do |t|
    t.id       "link-tab-greencloth"
    t.selected active_tab == :greencloth
    t.label    "Plain Editor"[:wiki_plain_editor]
    t.function "selectWikiEditorTab('%s', %s)" % [
      page_xurl(@page, :action => 'update_editors', :editor => 'greencloth'),
      {
        :wiki_id => @wiki.id,
        :tab_id  => 'link-tab-greencloth',
        :area_id => 'tab-edit-greencloth',
        :editor  => 'greencloth',
        :token   => form_authenticity_token
      }.to_json
    ]
  end

  f.tab do |t|
    t.id       "link-tab-html"
    t.selected active_tab == :html
    t.label    "Visual Editor"[:wiki_visual_editor]
    t.function "selectWikiEditorTab('%s', %s)" % [
      page_xurl(@page, :action => 'update_editors', :editor => 'html'),
      {
        :wiki_id => @wiki.id,
        :tab_id  => 'link-tab-html',
        :area_id => 'tab-edit-html',
        :editor  => 'html',
        :token   => form_authenticity_token
      }.to_json
    ]
  end

  f.tab do |t|
    t.id       "link-tab-preview"
    t.label    "Preview"[:preview]
    t.class    "page_url"
    t.function "selectWikiEditorTab('%s', %s)" % [
      page_xurl(@page, :action => 'update_editors', :editor => 'preview'),
      {
        :wiki_id => @wiki.id,
        :tab_id  => 'link-tab-preview',
        :area_id => 'tab-edit-preview',
        :editor  => 'preview',
        :token   => form_authenticity_token
      }.to_json
    ]
  end
end %>

<% form_tag(page_xurl(@page, :action => 'update'), :id => wiki_form_id(@wiki)) do -%>
<%= hidden_field 'wiki', 'version' %>
<% locked_error_message -%>

<div id="tab-edit-greencloth" class="tab_content" style="<%= 'display:none' if active_tab != :greencloth %>">
  <%= render :partial => "edit_greencloth", :locals => {:load_content => active_tab == :greencloth} %>
</div>

<div id="tab-edit-html" class="tab_content" style="<%= 'display:none' if active_tab != :html %>">
  <%= render :partial => "edit_wysiwyg", :locals => {:load_content => active_tab == :html} %>
</div>

<div id="tab-edit-preview" class="tab_content" style="display:none">
  <div class="wiki" id="<%= wiki_preview_id @wiki %>"></div>
</div>

<div id="tab-edit-loading" class="tab_content" style="display:none">
  <%= big_spinner %>
</div>

<div class="buttons">
 <% if locked_for_me? -%>
   <%= submit_tag 'Break Lock'[:break_lock_button], :name => 'break_lock' %>
 <% else -%>
   <%= submit_tag 'Save'[:save_button], :name => 'save' %>
 <% end -%>
 <% unless @wiki_is_blank %>
   <%= submit_tag 'Cancel'[:cancel_button], :name => 'cancel' %>
 <% end %>
</div>

<% end %>
