- content_for(:html_head) do
  = group_search_rss

- content_for :right_sidebar do
  = render :partial => 'groups/search/tags'

= render :partial => '/groups/group_header_no_sidebar'

- content_for :third_nav do
  = render :partial => 'pages/search'

%div.right
  = drop_down("View:", group_all_content_view_options, group_all_content_view_selected)
