<% content_for(:html_head) do %>
  <%= group_search_rss %>
<% end %>

<% @title_box = content_tag :h1, I18n.t(:archive_headline) %>
<% @info_box = link_line(
  link_to_active(I18n.t(:archive_filter_created_link), group_search_url(:action => 'archive', :path => @path.replace_keyword('updated','created')), @path.keyword?('created')),
  link_to_active(I18n.t(:archive_filter_updated_link), group_search_url(:action => 'archive', :path => @path.replace_keyword('created','updated')), @path.keyword?('updated'))
) %>

<blockquote>
<% unless @months.empty? -%>
  <table class='archive_calendar'>
    <tr>
      <td>&nbsp;</td>
      <%- '1'.upto('12') do |month| -%>
        <td><b><%= month %></b></td>
      <%- end -%>
    </tr>
    <%- @start_year.upto(@current_year.to_s) do |year| -%>
    <tr>
      <td><b><%= year %></b></td>
      <%- '1'.upto('12') do |month| -%>
        <td> 
          <%- if month_data = @months.detect {|a| a['year'] == year and a['month'] == month} -%>
            <%- klass = @path.first_arg_for('date') == "#{year}-#{month}" ? 'invert' : '' -%>
            <%= link_to month_data["page_count"], group_search_url(:action => 'archive', :path => [@field, 'date', "#{year}-#{month}"]), :class => klass %> 
          <%- else -%>
            &nbsp;
          <%- end -%>
        </td>
      <%- end -%>
    </tr>
    <%- end -%>
  </table>
<% end -%>
</blockquote>
<br/>

<%= render :partial => 'pages/list', :locals => {:heading => true, :columns => @columns} %>

