<%
ymd = "#{@year}-#{@month}"
ymd += "-#{@day}" unless @day.empty?

@title_box = content_tag :h1, I18n.t(:chat_archive_headline) + " - #{ymd}"  %>

<% if !@months.empty? and !@messages -%>
<blockquote>
  <table class='archive_calendar'>
    <%- @start_year.upto(@current_year.to_s) do |year| -%>
    <tr>
      <td><b><%= year %></b></td>
      <%- '1'.upto('12') do |month| -%>
        <td>
          <%- if month_data = @months.detect {|a| a['year'] == year and a['month'] == month} -%>
           <%- klass = @date == "#{year}-#{month}" ? 'invert' : '' -%>
            <%= link_to month, {:controller => 'chat', :action => 'archive', :path => ['date', "#{year}-#{month}"]}, :class => klass %>
          <%- else -%>
            <%= month %>
          <%- end -%>
        </td>
      <%- end -%>
    </tr>
    <%- end -%>
  </table>
</blockquote>

<br/>

<%= render :partial => 'chat/month_list' %>

<% elsif @messages -%>

<%= render :partial => 'chat/day_list' %>

<% end -%>
