<%-
  # in menu mode, we do some things differently:
  # (1) we display the create page link inline instead of in a bubble.
  # (2) we skip the ids for the li tags, so they don't conflict with the mebar of the
  #     non-menu me naviation
  # (3) we do not highlight the active selection.

  menu_mode = false if menu_mode.nil?
  inline_create_page = menu_mode
  skip_ids = menu_mode
  show_active = !menu_mode
-%>

<%= create_page_link(nil) unless inline_create_page %>

<ul class='side_list'>

  <% if inline_create_page %>
    <% active = show_active && controller?(:pages) && action?(:create) %>
    <li class='small_icon plus_16'><%= link_to_active(
      I18n.t(:contribute_content_link),
      {:controller => '/pages', :action => 'create'},
      active
    ) %></li>
  <% end %>

  <% active = show_active && controller?('me/dashboard') %>
  <li class='small_icon house_16'><%= link_to_active(
    I18n.t(:me_dashboard_link),
    '/me/dashboard',
    active
  ) %></li>

  <% active = show_active && controller?('me/inbox') %>
  <li id="<%= 'inbox_line' unless skip_ids %>" class="small_icon inbox_16"><%= link_to_active(
     I18n.t(:me_inbox_link),
    '/me/inbox',
    active
  ) %></li>

  <% active = show_active && controller?('me/messages', 'me/public_messages', 'me/private_messages') %>
  <li class="small_icon page_message_16"><%= link_to_active(
    I18n.t(:messages),
    my_messages_path,
    active
  ) %></li>

  <% active = show_active && controller?('me/tasks') %>
  <li class="small_icon page_tasks_16"><%= link_to_active(
    I18n.t(:me_tasks_link),
    '/me/tasks/pending',
    active
  ) %></li>

  <% active = show_active && controller?('me/requests') %>
  <li id="<%= 'requests_line' unless skip_ids %>" class='small_icon info_16'><%= link_to_active(
    I18n.t(:requests),
    {:controller => '/me/requests', :action => 'to_me'},
    active
  ) %></li>

<!--
  <li class="small_icon mime_default_16">
    <%= link_to 'My Pages', '' %>
  </li>

  <ul>
    <li class="small_icon plus_16">
      <%= link_to 'Create Page', '' %>
    </li>

    <li class="small_icon page_add_16">
      <%= link_to 'My Contributions', '' %>
    </li>

    <li class="small_icon caution_16">
      <%= link_to 'Needs My Attention', '' %>
    </li>

    <li class="small_icon refresh_16">
      <%= link_to 'Watch for Changes', '' %>
    </li>
-->

    <% active = show_active && controller?('me/search') %>
    <li class="small_icon magnifier_16"><%= link_to_active(
      I18n.t(:me_search_link),
      '/me/search',
      active
    ) %></li>

    <% active = show_active && controller?('me/trash') %>
    <li id="<%='trash_line' unless skip_ids %>" class="small_icon trash_16"><%= link_to_active(
      I18n.t(:trash),
      {:controller => '/me/trash'},
      active
    ) %></li>

</ul>

