<a href="/pages/create" class="contribute round"><span class="small_icon plus_16"><%= "Contribute"[:contribute_content_link] %></span></a>

<ul class='side_list'>
  <%- active = params[:controller] == 'me/dashboard' -%>
  <li class='small_icon home_16<%= active ? ' active' : '' %>'><%= link_to_active(
    'Dashboard'[:me_dashboard_link],
    '/me/dashboard',
    params[:controller] == 'me/dashboard'
  ) %></li>

  <%- active = params[:controller] == 'me/inbox' -%>
  <li id='inbox_line' class='small_icon archive_16<%= active ? ' active' : '' %>'><%= link_to_active(
     'Inbox'[:me_inbox_link],
    '/me/inbox',
    active
  ) %></li>

  <%- active = params[:controller] == 'me/search' -%>
  <li class='small_icon magnifier_16<%= active ? ' active' : '' %>'><%= link_to_active(
    'All Content'.t,
    '/me/search',
    active
  ) %></li>

  <%- active = params[:controller] == 'me/tasks' -%>
  <li class='small_icon page_tasks_16<%= active ? ' active' : '' %>'><%= link_to_active(
    'Tasks'[:me_tasks_link],
    '/me/tasks/pending',
    active
  ) %></li>

  <%- active = params[:controller] == 'me/requests' -%>
  <li id='requests_line' class='small_icon info_16<%= active ? ' active' : '' %>'><%= link_to_active(
    'Requests'[:me_requests_link],
    {:controller => '/me/requests', :action => 'to_me'},
    active
  ) %></li>

</ul>

<hr class="thick" />

<%- cache(me_cache_key) do -%>
  <h2 class="alert"><%= "My World"[:my_world_heading] %></h2>

  <%= render :partial => 'avatars/entity_boxes', :locals => {:header => 'Networks'[:networks], :entities => current_user.all_groups.networks } %>

  <%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Groups"[:groups], :entities => current_user.groups.normals } %>

  <%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Committees"[:committees], :entities => current_user.groups.committees } %>

  <%= render :partial => 'avatars/entity_boxes', :locals => {:header => 'Friends'[:friends], :entities => current_user.contacts } %>

<%- end -%>

<%= javascript_tag remote_function(:url => {:controller => '/me/base', :action => :counts }) %>

