<%= render :partial => 'me/mebar' %>

</ul>

<hr class="thick" />

<%- cache(me_cache_key) do -%>
  <h2 class="alert"><%= "My World"[:my_world_heading] %></h2>
  <%- if current_site.has_networks? -%>
    <%= render :partial => 'avatars/entity_boxes', :locals => {:header => 'Networks'[:networks], :entities => current_user.all_groups.select{|g| g.network?}} %>
  <%- end -%>

  <%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Groups"[:groups], :entities => current_user.groups.normals } %>

  <%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Committees"[:committees], :entities => current_user.groups.committees } %>

  <%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Councils"[:councils], :entities => current_user.groups.councils } %>

  <%= render :partial => 'avatars/entity_boxes', :locals => {:header => 'Contacts'[:contacts], :entities => current_user.friends} %>

<%- end -%>

<%= javascript_tag remote_function(:url => me_params(:action => :counts)) %>

