<%# create_page_link %>

<ul class='side_list'>
  <% active = controller?('me/dashboard') %>
  <li class='small_icon house_16<%= active ? ' active' : '' %>'><%= link_to_active(
    'Dashboard'[:me_dashboard_link],
    '/me/dashboard',
    active
  ) %></li>

  <% active = controller?('me/inbox') %>
  <li id='inbox_line' class='small_icon inbox_16<%= active ? ' active' : '' %>'><%= link_to_active(
     'Inbox'[:me_inbox_link],
    '/me/inbox',
    active
  ) %></li>

  <% active = controller?('me/messages', 'me/public_messages', 'me/private_messages') %>
  <li class='small_icon page_message_16<%= active ? ' active' : '' %>'><%= link_to_active(
    'Messages'[:messages],
    my_messages_path,
    active
  ) %></li>

  <% active = controller?('me/tasks') %>
  <li class='small_icon page_tasks_16<%= active ? ' active' : '' %>'><%= link_to_active(
    'Tasks'[:me_tasks_link],
    '/me/tasks/pending',
    active
  ) %></li>

  <% active = controller?('me/requests') %>
  <li id='requests_line' class='small_icon info_16<%= active ? ' active' : '' %>'><%= link_to_active(
    'Requests'[:requests],
    {:controller => '/me/requests', :action => 'to_me'},
    active
  ) %></li>

<!--
  <li class="small_icon mime_default_16">
    <%= link_to 'My Pages', '' %>
  </li>

  <ul>
    <li class="small_icon plus_16">
      <%= link_to 'Create Page', '' %>
    </li>

    <li class="small_icon page_add_16">
      <%= link_to 'My Contributions', '' %>
    </li>

    <li class="small_icon caution_16">
      <%= link_to 'Needs My Attention', '' %>
    </li>

    <li class="small_icon refresh_16">
      <%= link_to 'Watch for Changes', '' %>
    </li>
-->

    <% active = controller?('me/search') %>
    <li class='small_icon magnifier_16<%= active ? ' active' : '' %>'><%= link_to_active(
      'Search'[:me_search_link],
      '/me/search',
      active
    ) %></li>

    <% active = controller?('me/trash') %>
    <li id='trash_line' class='small_icon trash_16<%= active ? ' active' : '' %>'><%= link_to_active(
      'Trash'[:trash],
      {:controller => '/me/trash'},
      active
    ) %></li>  

</ul>

<hr class="thick" />

<%- cache(me_cache_key) do -%>
  <h2 class="alert"><%= "My World"[:my_world_heading] %></h2>
  <%- if current_site.has_networks? -%>
    <%= render :partial => 'avatars/entity_boxes', :locals => {:header => 'Networks'[:networks], :entities => current_user.all_groups.select{|g| g.network?}} %>
  <%- end -%>

  <%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Groups"[:groups], :entities => current_user.groups.normals } %>

  <%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Committees"[:committees], :entities => current_user.groups.committees } %>

  <%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Councils"[:councils], :entities => current_user.groups.councils } %>

  <%= render :partial => 'avatars/entity_boxes', :locals => {:header => 'Contacts'[:contacts], :entities => current_user.friends} %>

<%- end -%>

<%= javascript_tag remote_function(:url => me_params(:action => :counts)) %>

