<div class='wing'>

<h2><%= "My Pages"[:my_pages] %></h2>
<ul class='side_list'>

  <li class='small_icon dashboard_icon'><%= link_to_active(
    'Dashboard'[:dashboard],
    '/me/dashboard',
    params[:controller] == 'me/dashboard'
  ) %></li>

  <li id='inbox_line' class='small_icon inbox_icon'><%= link_to_active(
     'Inbox'[:inbox],
    '/me/inbox',
    params[:controller] == 'me/inbox'
  ) %></li>

<!--  <li class='small_icon watch_icon'><a href='#'><%= "Watching for Updates"[:watching] %></a></li> -->

  <li class='small_icon search_icon'><%= link_to_active(
    'Search'[:search],
    '/me/search',
    params[:controller] == 'me/search'
  ) %></li>


  <li class='small_icon create_icon'><a href='/pages/create'><%= "Create Page"[:create_page] %></a></li>

</ul>

<h2><%= "Tasks"[:tasks] %></h2>
<ul class='side_list'>
  <li class='small_icon task_pending_icon'><%= link_to_active(
    'Pending'[:pending],
    '/me/tasks/pending',
    params[:controller] == 'me/tasks' && params[:action] == 'pending'
  ) %></li>
  <li class='small_icon task_completed_icon'><%= link_to_active(
    'Completed'[:completed],
    '/me/tasks/completed',
    params[:controller] == 'me/tasks' && params[:action] == 'completed'
  ) %></li>
</ul>

<h2><%= "Requests"[:requests] %></h2>
<ul class='side_list'>

  <li id='to_me_line' class='small_icon to_me_icon'><%= link_to_active(
    'To Me'[:to_me],
    {:controller => '/me/requests', :action => 'to_me'}
  ) %></li>

  <li id='from_me_line' class='small_icon from_me_icon'><%= link_to_active(
    'From Me'[:from_me],
    {:controller => '/me/requests', :action => 'from_me'}
  ) %></li>
</ul>

<h2><%= "Options"[:options] %></h2>
<ul class='side_list'>
  <li class='small_icon settings_icon'><%= link_to_active(
    'Settings'[:settings],
    '/me/edit',
    params[:controller] == 'me/base'
  ) %></li>
  <li class='small_icon public_profile_icon'><%= link_to_active(
    'Public Profile'[:public_profile],
    '/profile/edit/public',
    params[:controller] == 'profile' && params[:action] == 'edit' && params[:id] == 'public'
  ) %></li>
  <li class='small_icon private_profile_icon'><%= link_to_active(
    'Private Profile'[:private_profile],
    '/profile/edit/private',
    params[:controller] == 'profile' && params[:action] == 'edit' && params[:id] == 'private'
  ) %></li>
</ul>

</div>

