<div class='wing'>

<h2>My Pages</h2>
<ul class='side_list'>

  <li class='small_icon dashboard_icon'><%= link_to_active(
    'Dashboard',
    '/me/dashboard',
    params[:controller] == 'me/dashboard'
  ) %></li>

  <li id='inbox_line' class='small_icon inbox_icon'><%= link_to_active(
    'Inbox',
    '/me/inbox',
    params[:controller] == 'me/inbox'
  ) %></li>

<!--  <li class='small_icon watch_icon'><a href='#'>Watching for Updates</a></li> -->

  <li class='small_icon search_icon'><%= link_to_active(
    'Search',
    '/me/search',
    params[:controller] == 'me/search'
  ) %></li>


  <li class='small_icon create_icon'><a href='/pages/create'>Create Page</a></li>

</ul>

<h2>Tasks</h2>
<ul class='side_list'>
  <li class='small_icon task_pending_icon'><%= link_to_active(
    'Pending',
    '/me/tasks/pending',
    params[:controller] == 'me/tasks' && params[:action] == 'pending'
  ) %></li>
  <li class='small_icon task_completed_icon'><%= link_to_active(
    'Completed',
    '/me/tasks/completed',
    params[:controller] == 'me/tasks' && params[:action] == 'completed'
  ) %></li>
</ul>

<h2>Requests</h2>
<ul class='side_list'>

  <li id='requests_line' class='small_icon to_me_icon'><%= link_to_active(
    'To Me',
    '/me/requests',
    params[:controller] == 'me/requests'
  ) %></li>

  <li class='small_icon from_me_icon'><%= link_to_active(
    'From Me',
    '/me/requests',
    params[:controller] == 'me/requests'
  ) %></li>
</ul>

<h2>Options</h2>
<ul class='side_list'>
  <li class='small_icon settings_icon'><%= link_to_active(
    'Settings',
    '/me/edit',
    params[:controller] == 'me/base'
  ) %></li>
  <li class='small_icon public_profile_icon'><%= link_to_active(
    'Public Profile',
    '/profile/edit/public',
    params[:controller] == 'profile' && params[:action] == 'edit' && params[:id] == 'public'
  ) %></li>
  <li class='small_icon private_profile_icon'><%= link_to_active(
    'Private Profile',
    '/profile/edit/private',
    params[:controller] == 'profile' && params[:action] == 'edit' && params[:id] == 'private'
  ) %></li>
</ul>

</div>


<%# Formy.sidebar do |f|
  f.section do |s|
    s.label 'Me'
    s.link do |t|
      t.label 'Dashboard'
      t.link url_for(:controller => 'me/dashboard', :action => nil, :path => nil)
      t.selected params[:controller] == 'me/dashboard'
    end
    s.link do |t|
      t.label 'Inbox'
      t.link url_for(:controller => 'me/inbox', :action => nil, :path => nil)
      t.selected params[:controller] == 'me/inbox'
    end
    s.subsection do |ss|
      ss.label 'Tasks'
      ss.link do |t|
        t.label 'pending'
        t.link url_for(:controller => 'me/tasks', :action => 'pending', :path => nil)
        t.selected params[:controller] == 'me/tasks' && params[:action] == 'pending'
      end
      ss.link do |t|
        t.label 'completed'
        t.link url_for(:controller => 'me/tasks', :action => 'completed', :path => nil)
        t.selected params[:controller] == 'me/tasks' && params[:action] == 'completed'
      end
    end
    s.link do |t|
      t.label 'Search'
      t.link url_for(:controller => 'me/search', :action => nil, :path => nil)
      t.selected params[:controller] == 'me/search'
    end
    s.link do |t|
      t.label 'Requests'
      t.link url_for(:controller => 'me/requests', :action => nil)
      t.selected params[:controller] == 'me/requests'
    end
    s.link do |t|
      t.label 'Settings & Profiles'
      t.link url_for(:controller => 'me/base', :action => 'edit', :id => nil)
      t.selected params[:controller] == 'me/base' || params[:controller] == 'profile'
    end
    s.link do |t|
      t.label 'Create Page &raquo;'
      t.link url_for(:controller => '/pages', :action => 'create')
      t.selected false
    end
  end
end
%>

