<% @title_box = '<h1>Page Moderation</h1>' %>

<% @info_box = capture do %>

<div id="moderation_navigation">
  <div style="display:inline;'">
    <span class='small_icon page_white_copy_16'><%= link_to_active( 'See All Pages', { :controller => 'admin/pages', :action => 'index', :view => 'all' }, @current_view == 'all' )%></span>
  </div>
  <div style="display:inline; margin-left:2em;'">
    <%= "Flagged Pages:"%>&nbsp;
    <ul style="display: inline; list-style: none; padding: 0; margin: 0;">
      <li style="display: inline;" class='small_icon flag_orange_16'><%= tab_link('new')%>&nbsp;</li>
      <li style="display: inline;" class='small_icon flag_green_16'><%= tab_link('vetted')%>&nbsp;</li>
      <li style="display: inline;" class='small_icon flag_red_16'><%= tab_link('deleted')%></li>
    </ul>
  </div>
  <div style="display:inline; margin-left:2em;'">
    <%= "Public:"%>&nbsp;
    <span class='small_icon page_white_world_16'><%= tab_link('requested', 'public requested')%></span>&nbsp;
    <span class='small_icon world_16'><%= tab_link('approved', 'public')%></span>
  </div>
</div>

<% end %>

<% form_tag({ :action => 'index' }, :method => :get) do %>
<%# Filter by group: <%#= select_tag 'group', "<option value=''>#{'all groups'.t}</option>"+
options_from_collection_for_select(current_site.groups, "id", "name", @group) %>
<%#= submit_tag 'Filter', :name => '' %>
<% end %>

<div class="page_list">
  <%= render :partial => 'listing' if @flagged.any? %>
  <%= '<em>There are no pages for this view</em>' unless @flagged.any?%>
</div>


