<h2>Page Moderation</h2>

<%# page_moderation_navigation_links %>
   
<div id="moderation_navigation">
  <div style="display:inline;'">
    <%= "All Pages:"%>&nbsp;
    <%# link_to_active( 'pending', :controller => 'admin/pages', :action => 'index', :view => 'pending')%>
    <%= link_to_active( 'all', :controller => 'admin/pages', :action => 'index', :view => 'all' )%>&nbsp;
  </div>
  <div style="display:inline; margin-left:2em;'">
    <%= "Flagged Pages:"%>&nbsp;&nbsp;
    <%= link_to_active( 'new', :controller => 'admin/pages', :action => 'index', :view => 'new')%>&nbsp;
    <%= link_to_active( 'vetted',  :controller => 'admin/pages', :action => 'index', :view => 'vetted')%>&nbsp;
    <%= link_to_active( 'deleted', :controller => 'admin/pages', :action => 'index', :view => 'deleted')%>
  </div>
  <div style="display:inline; margin-left:2em;'">
    <%= "Request to Make Public:"%>&nbsp;
    <%= link_to_active( 'requested', :controller => 'admin/pages', :action => 'index', :view => 'public requested')%>&nbsp;
    <%= link_to_active( 'approved', :controller => 'admin/pages', :action => 'index', :view => 'public')%>
  </div>
</div>
<% form_for :filter, :url => { :action => 'index' } do |f| %>
Filter by group: <%= select_tag 'filter[group]', "<option value=''>#{'all groups'.t}</option>"+
options_from_collection_for_select(current_site.groups, "id", "name", @group) %>
<%= f.submit 'Filter' %>
<% end %>
<div id="pages-listing">
  <%= render :partial => 'listing' if @pages.any? %>
  <%= '<em>There are no pages for this view</em>' unless @pages.any?%>
</div>


