<table class="columns">
<tr>
  <td class="left">
    <h2 class='dim'><%= "Welcome"[:group_home_welcome] %></h2>
    <% if @group.is_council? -%>
      <p><%= 'coordinating committee'.t %></p>
    <% end -%>
    <p class="description"><%=h @group.summary %></p>
    <%= link_span(:bullet, edit_settings_link, leave_group_link) %>
  </td>
  <td class='right'>
    <%= render :partial => 'group/info_box_memberships' %>
  </td>
</tr>
</table>

