
<h2 class='alert'><%= "Private Front Page Media"[:private_front_page_media] %></h2>

<p><strong><%= "Images"[:images] %></strong></p>
<% if @private_image_pages.empty? %>
<p><em><%= "None available"[:none_available] %></em>
<%= link_to("create a new image"[:create_a_new_image], {:controller => 'asset_page', :action => 'create', :id => 'asset', :group => @group}) %></p>
<% else %>
<%= select_front_page_image(@private_image_pages, @private_profile)%>
<p><%= "(Click to select)"[:click_to_select] %></p>

<% end %>

<p><strong><%= "Videos"[:videos] %></strong></p>
<% if @private_video_pages.empty? %>
<p><em><%= "None available"[:none_available] %></em>
<%= link_to("create a new video"[:create_a_new_video], {:controller => 'external_video_page', :action => 'create', :id => 'external-video', :group => @group}) %></p>
<% else %>
<%= select_front_page_video(@private_video_pages, @private_profile)%>
<% end %>

<br/>
<h2 class='alert'><%= "Public Front Page Media"[:public_front_page_media] %></h2>

<p><strong><%= "Images"[:images] %></strong></p>
<% if @public_image_pages.empty? %>
<p><em><%= "None available"[:none_available] %></em>
<%= link_to("create a new image"[:create_a_new_image], {:controller => 'asset_page', :action => 'create', :id => 'asset', :group => @group}) %>
<em><%= "or set an existing page public"[:or_set_an_existing_page_public] %></em></p>
<% else %>
<%= select_front_page_image(@public_image_pages, @public_profile)%>
<p><%= "(Click to select)"[:click_to_select] %></p>

<% end %>


<p><strong><%= "Videos"[:videos] %></strong></p>
<% if @public_video_pages.empty? %>
<p><em><%= "None available"[:none_available] %></em>
<%= link_to("create a new video"[:create_a_new_video], {:controller => 'external_video_page', :action => 'create', :id => 'external-video', :group => @group}) %>
<em><%= "or set an existing page public"[:or_set_an_existing_page_public] %></em></p>
<% else %>
<%= select_front_page_video(@public_video_pages, @public_profile)%>
<% end %>
