<%= link_to "back to #{@group.display_name}", group_url(:action => 'show', :id => @group)%>

<h2 class="section">Edit Featured Content for <%=@group.display_name%></h2>

Here you can mark pages as featured content of this group.

<% if @group.find_static.any? %>
<h4 class="section">Current Featured Content</h4>
<table>
  <tr>
    <th>Title</th>
    <th>When does this feature expire?</th>
    <th>Action</th>
  </tr>
<% @group.find_static.each do |p|%>
 <tr  class="<%=cycle(:even,:odd)%>">
 <% form_tag group_url(:action => 'feature_content', :id => @group) do %>
<td><%= link_to p.title, page_url(p) %></td>
<%= hidden_field :featured_content, :mode, :value => :unfeature %>
<%= hidden_field :featured_content, :id, :value => p.id %>
<td><%= p.group_participations.find_by_group_id(@group.id).static_expires %></td>
<td><%= submit_tag "Unfeature!"%></td>
<% end %>
</tr>
<% end %>
</table>
<% end %>

<% if @group.find_unstatic.any? %>
<h4 class="section">Not yet Featured Content</h4>
<table>
  <tr>
    <th>Title</th>
    <th>When should this feature expire?</th>
    <th>Action</th>
  </tr>
<% @group.find_unstatic.each do |p|%>
<tr class="<%=cycle(:even,:odd)%>">
<% form_tag group_url(:action => 'feature_content', :id => @group) do %>
  <%= hidden_field :featured_content, :mode, :value => :feature %>
<%= hidden_field :featured_content, :id, :value => p.id %>
<td><%= link_to p.title, page_url(p) -%></td>
<td><%= date_select :featured_content, :expires %></td>
<td><%= submit_tag "Feature!"%></td>
<% end %>
</tr>
<% end %>
</table>
<% end %>

<% if @group.find_expired.any? %>
<h4 class="section">Expired Featured Content</h4>
<table>
  <tr>
    <th>Title</th>
    <th>When should this feature expire?</th>
    <th>Action</th>
  </tr>
<% @group.find_expired.each do |p| %>
<tr class="<%=cycle(:even,:odd)%>">
<% form_tag group_url(:action => 'feature_content', :id => @group) do %>
<td><%= link_to p.title, page_url(p) %> <%= p.expires %> </td>
<%= hidden_field :featured_content, :id, :value => p.id %>
<%= hidden_field :featured_content, :mode, :value => :reactivate %>
<td><%= date_select :featured_content, :expires %></td>
<td><%= submit_tag "Reactivate!"%></td>
<% end %>
</tr>
<% end %>
</table>
<% end %>

