- if current_user.may?(:admin, current_site)
  %h2.alert Site Administration
  %div.side_list
    %ul
      = menu I18n.t(:basic_settings), admin_sites_path(:action => 'basic'), :class => "small_icon settings_16"
      = menu I18n.t(:profile_settings), admin_sites_path(:action => 'profile'), :class=>"small_icon profile_16" 
      = menu I18n.t(:sign_up_settings), admin_sites_path(:action => 'signup'), :class=>"small_icon user_icon_16"
      = menu I18n.t(:edit_appearance), admin_custom_appearances_path, :class=>"small_icon color_wheel_16" 
      =# menu I18n.t(:announcements), announcements_path, :class=>"small_icon page_notice_16" 
      = menu I18n.t(:email_blasts), email_blasts_path, :class=>"small_icon page_message_16" 
= call_hook(:admin_nav)
