<%
  # a set of avatar boxes for groups or users, with a link to more of them.
  # requires locals: header, entities

  more_url = nil  if more_url.nil?
  more_link = nil if more_link.nil?
  if more_url
     more_link = link_to I18n.t(:see_more_link) + ARROW, more_url, :class => 'more'
  end
  after = nil if after.nil?
  links = nil if links.nil?
  show_empty = false if show_empty.nil?
  if entities.size > 23
    entities = entities.sort{|a,b| rand(3)-1}[0..22]
  end
  entities = entities.select { |e| ! ( e.kind_of?(Network) and current_site.network == e ) }
%>
<% if entities.any? or show_empty -%>
<div class="dash_box">
  <h3 class="dim">
    <%= header %>
    <%= link_span(:bullet, links, more_link) %>
  </h3>
  <%- if entities.any? -%>
    <%= render :partial => 'avatars/boxes', :locals => {:entities => entities} %>
  <%- else -%>
    <%= I18n.t(:empty_results) %>
  <%- end -%>
  <div class='clear'></div>
  <%= after %>
</div>
<% end %>

