<h2>Create Email Blast</h2>

<% form_tag  'email_blasts/blast' do -%>
<table>
  <tr>
    <td><%=  label_tag 'to', 'To' %></td>
    <td>
      <%= text_area_tag 'to', nil, :size => "60x3" %><br />
      <i>(Type the user login or group name e.g. "blue" or "devgroup" or everyone &lt;everyone&gt;. Separate multiple recipients with ";" or "," or space)</i>
    </td>
  </tr>
  <tr>
    <td><%=  label_tag 'subject', 'Subject' %></td>
    <td><%= text_field_tag 'subject', '', :size => "60" %></td>
  </tr>
  <tr>
    <td><%=  label_tag 'body', 'Body' %></td>
    <td><%= text_area_tag 'body', nil, :size => "60x6" %></td>
  </tr>
</table>
<div><input type="submit" name="submit" value="Send" /></div>
<% end -%>


