<%= mini_search_form :text_field_style => 'width:10em;' %>
<br class='clear' />
<br />
<div class="sidebox dark">
  <h2 class="first">Have Your Say!</h2>
  <ul class="side_list">
    <li><%= link_to_with_icon 'plus', "Contribute to Site", '/pages/create' %></li>
    <li><%= link_to_with_icon 'membership_add', "Create a Group", '/groups/new' %></li>
    <li><%= link_to_with_icon 'weather_sun', "See Tips to get started", '/?welcome_box=1' %></li>
  </ul>
</div>


<div class="sidebox">

<h2 class=alert>Members</h2>

<%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Most Active Members"[:most_active_members], :entities => most_active_users() } %>   

<%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Recently Active Members"[:recently_active_members], :entities => recently_active_users() } %>

<br class='clear'/>
<%= link_to 'view all'[:view_all], '/people' %>
<br />



<h2 class=alert>Groups</h2>

<%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Most Active Groups"[:most_active_groups], :entities => most_active_groups() } %>

<%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Recently Active Groups"[:recently_active_groups], :entities => recently_active_groups() } %>

<br class='clear'/>
<%= link_to 'view all'[:view_all], '/groups/directory/most_active' %>
<br />

</div>

<p>
  <%= [configure_site_network_link, configure_site_link, configure_site_appearance_link].compact.join('</p><p>') %>
</p>
