= render :partial => sidebar_top_partial

%h4.first
  = I18n.t(:members)
= render :partial => 'avatars/entity_boxes', :locals => {:header => I18n.t(:most_active_members), :entities => most_active_users(), :after => link_to(I18n.t(:view_all), people_directory_path(:browse)) }

%br.clear

%h4= I18n.t(:groups)

= render :partial => 'avatars/entity_boxes', :locals => {:header => I18n.t(:most_active_groups), :entities => most_active_groups(), :after => link_to(I18n.t(:view_all), group_directory_path(:action => :search)) }

%br.clear

%ul.clear
  -[configure_site_network_link, configure_site_link, configure_site_appearance_link].compact.each do |link|
    %li=link
