<!-- <div class="sidebox"> -->
  <ul id="top-links">
    <%= li_if contribute_link %>
  </ul>
<h4 class=first><%= I18n.t(:members) %></h4>
<%= render :partial => 'avatars/entity_boxes', :locals => {:header => I18n.t(:most_active_members), :entities => most_active_users(), :after => link_to(I18n.t(:view_all), people_directory_path(:browse)) } %>

<br class='clear'/>



<h4><%= I18n.t(:groups) %></h4>

<%= render :partial => 'avatars/entity_boxes', :locals => {:header => I18n.t(:most_active_groups), :entities => most_active_groups(), :after => link_to(I18n.t(:view_all), group_directory_path(:action => :search)) } %>

<br class='clear'/>

<!-- </div>  -->

<ul class="clear">
  <li>
    <%= [configure_site_network_link, configure_site_link, configure_site_appearance_link].compact.join('</li><li>') %>
  </li>
</ul>
