
<%= Formy.tabs do |f|
  f.tab do |t|
    t.label 'Today'
    t.show_tab "today_panel"
  end
  f.tab do |t|
    t.label 'This Week'
    t.show_tab "this_week_panel"
  end
  f.tab do |t|
    t.label 'This Month'
    t.show_tab "this_month_panel"
  end
  f.tab do |t|
    t.label 'Ever'
    t.show_tab "ever_panel"
    end
end %>

<div id='today_panel' class="tab_area" style="display:none" onclick="<%= load_panel(@panel,'today') %>">
<%= big_spinner %>
</div>

<div id='this_week_panel' class="tab_area" style="display:none" onclick="<%= load_panel(@panel,'this_week') %>">
<%= big_spinner %>
</div>

<div id='this_month_panel' class="tab_area" style="display:none" onclick="<%= load_panel(@panel,'this_month') %>">
<%= big_spinner %>
</div>

<div id='ever_panel' class="tab_area" style="display:none" onclick="<%= load_panel(@panel, 'ever') %>">
<%= big_spinner %>
</div>

