<%# THIS IS JUST A TEMPORARY STOP GAP FOR NOW. NOTHING HERE IS FOR THE FUTURE %>
<% content_for :style do %>
.info_box h3 {
  margin-bottom:0;
  margin-top:1em;
  padding-bottom:0;
}
.info_box td {
  padding: 0 1em 1em 0;
  vertical-align: top;
}
/*
table.entities {
  width: 100%;
}
table.entities td {
  width: 50%;
  vertical-align: top;
}*/

.sidebox {
  background: white;
  border: 1px solid #999;
  padding: 1em;
}

.sidebox.dark {
  background: #ccc;
  color: white;
  border: 1px solid #999;
  margin: 1em 0;
}
.sidebox.dark a {
  color: #333;
}
.sidebox.dark h2 {
  font-size: 1.7em
}
.dash_box {
  margin-right: 0;
}
.right_column {
  width: 18em;
}
.title_box table td {vertical-align: top}
form.mini_search table {
  width: 18em;
}

/** expanded page list **/
.page_list.expanded .info {
  float: right;
  border:none !important;
  background: #fff !important;
}
.page_list.expanded .info .link_line {
  border:none !important;
}
.page_list.expanded .title {
  float: left;
}
.page_list.expanded .title a {
   font-weight: bold;
   color: #444;
   font-size: 1.25em;
}
.page_list.expanded .page_row {
  margin-bottom: 1.25em;
  padding-bottom: 1.25em;
  border-bottom: 1px dotted #ccc;
  color: #666;
}
.page_list.expanded .summary {
  clear: both;
  font-size: 0.9em;
  padding-top: 0.7em;
}
.page_list.expanded .tags {
  margin-top: 0.25em;
  color: #666;
  font-size: 0.9em;
  font-style: italic;
}
.page_list.expanded .tags a {
  color: #666;
}
.page_list.expanded .cover img {
  float: left;
  margin-right: 1em;
}
<% end %>
<% default_hash = @show_featured ? 'featured' : 'recent-pages' -%>
<% content_for :script do %>
  <%= "onHashChanged = showTabByHash;" %>
  <%= "defaultHash = defaultHash || '#{default_hash}';" %>
<% end %>


<% @right_column = capture do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<% @title_box = capture do %>
<table>
<tr>
  <td>
    <p class="description" style="margin: 0"><%= @group.profiles.public.summary_html %></p>
  </td>
  <td style="padding-left: 1em">
    <%= display_media(@group.profiles.public.cover) %>
  </td>
</tr>
</table>
<ul class="navbar">
  <%= render :partial => 'navbar_item', :collection => @group.menu_items %>
</ul>
&nbsp;<%= link_to(I18n.t(:edit), groups_menu_items_url(:action => :index), :class=>'small_icon pencil_16') if may_edit_menu? %>
<% end %>
<% if params[:welcome_box] && logged_in? -%>
  <div id='welcome_box'>
    <div class="inset_box round">
      <%= render :partial => '/me/dashboard/welcome_box_content' %>
    </div>
  </div>
<% end -%>

<%- if @announcements.any? %>
  <div class='section'>
    <%= render :partial => 'announcement_page/list'  %>
  </div>
<%- end -%>

<%= render :partial => 'widgets/wiki', :locals => {:wiki => @group.profiles.public.wiki, :editable => may_update_profile?} %>

<br/>

<%= Formy.tabs do |f|
  if @show_featured
    f.tab do |t|
      t.label I18n.t(:featured_content_header)
      t.show_tab 'featured_panel'
      t.default true
    end
  end
  f.tab do |t|
    t.label I18n.t(:recent_pages)
    t.show_tab 'recent_pages_panel'
    t.default !@show_featured
  end
  f.tab do |t|
    t.label I18n.t(:most_viewed)
    t.show_tab 'most_viewed_panel'
  end
  f.tab do |t|
    t.label I18n.t(:most_active)
    t.show_tab 'most_active_panel'
  end
  f.tab do |t|
    t.label I18n.t(:most_stars)
    t.show_tab 'most_stars_panel'
  end
end %>

<div class="page_scroll rigid">

<% if @show_featured %>
<div id='featured_panel' class="tab_content tab_area" style="display:none" onclick="<%= load_panel('featured') %>">
 <%= big_spinner %>
</div>
<% end %>

<div id='recent_pages_panel' class="tab_content tab_area" style="display:none" onclick="<%= load_panel('recent_pages') %>">
 <%= big_spinner %>
</div>

<div id='most_viewed_panel' class="tab_content tab_area" style="display:none" onclick="<%= load_panel('most_viewed') %>">
<%= big_spinner %>
</div>

<div id='most_active_panel' class="tab_content tab_area" style="display:none" onclick="<%= load_panel('most_active') %>">
 <%= big_spinner %>
</div>

<div id='most_stars_panel' class="tab_content tab_area" style="display:none" onclick="<%= load_panel('most_stars') %>">
 <%= big_spinner %>
</div>

</div>
