<%# THIS IS JUST A TEMPORARY STOP GAP FOR NOW. NOTHING HERE IS FOR THE FUTURE %>
<% content_for :style do %>
.info_box h3 {
  margin-bottom:0;
  margin-top:1em;
  padding-bottom:0;
}
.info_box td {
  padding: 0 1em 1em 0;
  vertical-align: top;
}
/*
table.entities {
  width: 100%;
}
table.entities td {
  width: 50%;
  vertical-align: top;
}*/

.sidebox {
  background: white;
  border: 1px solid #999;
  padding: 1em;
}

.sidebox.dark {
  background: #ccc;
  color: white;
  border: 1px solid #999;
  margin-bottom: 1em;
}
.sidebox.dark a {
  color: #333;
}
.sidebox.dark h2 {
  font-size: 1.7em
}
.dash_box {
  margin-right: 0;
}
.right_column {
  width: 18em;
}
.title_box table td {vertical-align: top}

<% end %>

<% @right_column = capture do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<% @title_box = capture do %>
<table>
<tr>
  <td>
    <h1 class="dim"><%=h "Welcome to {site_title}"[:welcome_title, current_site.title ]%></h1>
    <p class="description"><%= @group.profiles.public.summary_html %></p>
    <%= link_span(:bullet, 'linky link 1', 'linky link 2', 'linky link 3' ) %>
  </td>
  <td>
    <%= display_media(@group.profiles.public.cover) %>
</tr>
</table>
<% end %>

<%= render :partial => 'widgets/wiki', :locals => {:wiki => @group.profiles.public.wiki, :editable => current_user.may?(:admin, @group)} %>

<br/>
<br/>
<%= render :partial => 'widgets/page_list', :locals => {:pages => @recent_pages, :heading => 'Recent Pages'[:recent_pages]} %>
<br/>
<%= render :partial => 'widgets/page_list', :locals => {:pages => @most_viewed_pages, :heading => 'Most Viewed'[:most_viewed_pages]} %>

