<%# THIS IS JUST A TEMPORARY STOP GAP FOR NOW. NOTHING HERE IS FOR THE FUTURE %>
<% content_for :style do %>
.info_box h3 {
  margin-bottom:0;
  margin-top:1em;
  padding-bottom:0;
}
.info_box td {
  padding: 0 1em 1em 0;
  vertical-align: top;
}
table.entities {
  width: 100%
}
table.entities td {
  width: 50%
}
<% end %>

<% @title_box = capture do %>
  <%= mini_search_form %>
  <h1><%= h "Welcome to {site_title}, {user_name}!"[:welcome_heading, current_site.title, current_user.display_name] %></h1>
<% end %>

<% @info_box = capture do %>
  <%= render :partial => 'me/dashboard/welcome_box_content', :locals => {:hide_heading => true, :hide_profile => true} %>
<% end %>

<table class='entities'>
<tr>
  <td>
    <%= render :partial => 'avatars/entity_boxes', :locals => {:header => "New Groups"[:new_groups], :entities => @groups} %>
  </td>
  <td>
    <%= render :partial => 'avatars/entity_boxes', :locals => {:header => "Most Active People"[:most_active_people], :entities => @users} %>   
  </td>

</tr>
</table>

<%= render :partial => 'group/widgets/wiki', :locals => {:wiki => @group.profiles.public.wiki, :editable => current_user.may?(:admin, @group)} %>
<br/>
<%= render :partial => 'group/widgets/page_list', :locals => {:pages => @recent_pages, :heading => 'Recent Pages'[:recent_pages]} %>
<br/>
<%= render :partial => 'group/widgets/page_list', :locals => {:pages => @most_viewed_pages, :heading => 'Most Viewed'[:most_viewed_pages]} %>

