<%# THIS IS JUST A TEMPORARY STOP GAP FOR NOW. NOTHING HERE IS FOR THE FUTURE %>
<% content_for :style do %>
.info_box h3 {
  margin-bottom:0;
  margin-top:1em;
  padding-bottom:0;
}
.info_box td {
  padding: 0 1em 1em 0;
  vertical-align: top;
}
/*
table.entities {
  width: 100%;
}
table.entities td {
  width: 50%;
  vertical-align: top;
}*/

.sidebox {
  background: white;
  border: 1px solid #999;
  padding: 1em;
}

.sidebox.dark {
  background: #666;
  color: white;
  border: 1px solid black;
  margin-bottom: 1em;
}

.dash_box {
  margin-right: 0;
}
.right_column {
  width: 18em;
}
<% end %>

<% @title_box = capture do %>
  <div class="right"><%= display_media(current_site.network.profiles.public.cover) %></div>
  <h2><%= h "Welcome to {site_title}"[:welcome_title, current_site.title ]%></h2>
  <p class="description"><%=h current_site.network.summary %></p>
<% end %>

<% @info_box = capture do %>
  <%= render :partial => 'me/dashboard/welcome_box_content', :locals => {:hide_heading => true, :hide_profile => true} %>
<% end %>

<% @right_column = capture do %>
  <%= render :partial => 'sidebar' %>
<% end %>


<%= render :partial => 'group/widgets/wiki', :locals => {:wiki => @group.profiles.public.wiki, :editable => current_user.may?(:admin, @group)} %>
<%= edit_site_custom_appearance_link(current_site) %>
<br/>
<br/>
<%= render :partial => 'group/widgets/page_list', :locals => {:pages => @recent_pages, :heading => 'Recent Pages'[:recent_pages]} %>
<br/>
<%= render :partial => 'group/widgets/page_list', :locals => {:pages => @most_viewed_pages, :heading => 'Most Viewed'[:most_viewed_pages]} %>

