.wrapper2-plus
  .col2
    %h2.opening Welcome to MRU Youthplatform
    %p.panel This is your platform! Use it wisely, and remember you are responsible for everything you post. You will have semi-privacy within your groups. No other user will be able to see the information in your group, unless you choose to share it. However, this site has heavy moderation and moderators can see all the content on the site. So, keep in mind that the content of discussions must remain appropriate.
    %p.panel We hope that you find the platform easy to use, and a productive place to discuss issues around employment, youth-led develoment and empowerment. 
  .col2
    %h3.panel-heading Projects Map
    %img{:src =>"images/unido/test-projects-map.png"}
    
.wrapper1
  .col1
    %a{:href => "#", :id => "btn-contribute"} 
      Contribute to Site
    %a{:href => "#", :id => "btn-add-job"} 
      Add a job opportunity
  .col1
    %h3.panel-heading Quickfinder
    %h4.subheading Industrial Policy and Studies
    %ul.panel
      %li Industrial sector studies
      %li Youth and microfinance
    %h4.subheading Support to institutions for industry, business, trade, environment and energy
    %ul.panel
      %li Rehabilitation of technical/ vocational training institutions
      %li Laboratories for testing and metrology
      %li Afripanet: Investment Promotion Agencies Subcontracting Exchanges
      %li Youth Communication Hubs
    %h4.subheading Support to industrial enterprises and micro, small and medium businesses
    %ul.panel
      %li Export consortia
  .col1
    .listing
      .grouping
        %h4.first
          = I18n.t(:most_active_members)
        = render :partial => 'avatars/entity_boxes', :locals => {:entities => most_active_users(), :after => link_to(I18n.t(:view_all), people_directory_path(:browse)) }
      .grouping
        %h4= I18n.t(:most_active_groups)
        = render :partial => 'avatars/entity_boxes', :locals => {:entities => most_active_groups(), :after => link_to(I18n.t(:view_all), group_directory_path(:action => :search)) }
    
    
      
    
    
    

.wrapper1-plus
  .col1
    - form_tag({:controller => 'account', :action => 'login'}, :id => "entry") do

      //%form#entry
      %div
        = text_field_tag 'login',params['login'],:id => 'login'
        %label(for = 'login')= I18n.t(:login_name)
      %div
        = password_field_tag 'password',:id => 'password'
        %label(for = 'password')= I18n.t(:login_password)
      %div
        %input{ :type => 'submit', :value => I18n.t(:login_button) }
      %div
        - if may_signup?
          = link_to(I18n.t(:signup_link), signup_url)
        = link_to(I18n.t(:forgot_password_link), :controller => '/account', :action => 'forgot_password')
        = hidden_field_tag 'redirect', params[:redirect]

    = javascript_tag "Form.focusFirstElement('entry');"

