- content_for :banner do
  = render :partial => '/groups/directory/banner'

- content_for :secondary_nav do
  = render :partial => '/groups/directory/menu'

- if @second_nav == 'all'
  - content_for :third_nav do
    = render :partial => '/groups/directory/all_groups_tabs'

- if @misc_header
  - content_for :misc_header do
    = render :partial => @misc_header

%section#group_listing
  - if @second_nav == 'all'
    %div#filter_by_location
      = render :partial => '/locations/search_form_html'

  %div#group_directory_list
    - if @groups.any?
      %div{:align=>'center'}
        = letter_pagination_links(directory_params(:group_type => @group_type, :action => 'search'), :available_letters => @pagination_letters) if @pagination_letters 
        = pagination_links(@groups)
      = render :partial => 'group', :collection => @groups, :locals => { :show_committees => @show_committees }
      = pagination_links(@groups)
    - else
      %p= I18n.t(:no_search_results)

- if @include_location_filter_DEPRECATED
  = javascript_tag remote_function(:url => {:controller=>'/locations', :action=>'countries_with_profiles_options', :replace_id => 'select_country_id'}) 

