<% render :partial => 'tabs' %>

<% if @groups.any? %>

  <%= letter_pagination_links(directory_params(:group_type => @group_type, :action => 'search'), :available_letters => @pagination_letters) if @pagination_letters %>

  <%= pagination_links(@groups) %>
  <%= render :partial => 'group', :collection => @groups, :locals => { :show_committees => @show_committees }%>
  <%= pagination_links(@groups) %>
<% else %>
  <p><%= I18n.t(:no_search_results) %></p>
<% end %>



