<h1>Editing user</h1>

<% form_for(@user, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
<table>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <tr>
    <td colspan="2">
      <%= f.submit "Update" %>
    </td>
  </tr>
</table>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
