<h1><%= users_heading %></h1>
<div class='info_box'>
  <%= 'Total number of users: %s' % @users.total_entries %>
  <span style='float: right'>
    <form action='/admin/users'>
    <select name='show'>
      <option value='' <%= filter_users_selected('all') %>>View all users</option>
      <option value='active' <%= filter_users_selected('active') %>>View active users</option>
      <option value='inactive' <%= filter_users_selected('inactive') %>> View inactive users</option>
    </select>
    <input type='submit' value='Go'>
    </form>
  </span>
</div>

<%= letter_pagination_links(letter_pagination_url, :available_letters => @pagination_letters) %>

<%= render :partial => 'user_table' %>

<%= pagination_links @users %>

<p><%= link_to_with_icon 'plus', 'New user', new_user_path %></p>

