<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Created at:</b>
  <%=h @user.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @user.updated_at %>
</p>

<p>
  <b>Display name:</b>
  <%=h @user.display_name %>
</p>

<p>
  <b>Time zone:</b>
  <%=h @user.time_zone %>
</p>

<p>
  <b>Last seen at:</b>
  <%=h @user.last_seen_at %>
</p>
<p>
  <b>Group memberships:</b>
  <%= @user.groups.collect{|g| link_to g.name, group_path(g) }.join(' ') %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
