<h2><%= "Forgot Password"[:forgot_password_link] %></h2>
<p>
  <%= :forgot_password_text.t %>
</p>
<% form_tag({}, :method => :post) do %>
<p>
<%= "What email address did you give us when you created your account?"[:forgotten_email_address] %>
<br />
<%= text_field_tag :email, "", :size => 50 %>
</p>
<p>
<%= submit_tag "Reset Password"[:reset_password] %>
</p>
<% end %>