<p><%= %Q[<p>Hello {user_name},</p>

<p>To keep the site safe for everyone, we are asking for a little more information about all our users. We will only ask once, but filling out the information is required. Don't worry, we haven't changed the privacy policy and still carefully protect all our users' information.</p>

<p>Thanks,<br/>
The {site_name} team.</p>][:missing_info_introduction_text, {:user_name => @user.display_name, :site_name => current_site.name}] %></p>

<div class="missing_info">
  <% form_for(:user, current_user, :html => {:id => 'signup_form'}) do |user| -%>

    <%= render :partial => 'visible_profile_form' %>

    <%= render :partial => 'hidden_profile_form', :locals => {:user => user} %>

    <p><%= submit_tag 'Save Information'[:save_information] -%>
    </p>
    <%= hidden_field_tag 'redirect', params[:redirect] if params[:redirect] %>
  <% end %>
  <br/>
  <p>
    <%= required_field_mark %> <em><%= 'This is a required field.'[:required_field_note] %></em>
  </p>
</div>
