<h2><%= "Reset Password"[:reset_password] %></h2>
<p>
  <%= ""[:reset_password_text,  {:login=>@user.login}] %>
</p>
<% form_tag do %>
<p>
  <label for="login"><%= "Your login"[] %></label><br />
  <%= text_field_tag :login, @user.login, :disabled => true %>
</p>
<p>
  <%- # call this new_password instead of password so as not to have the same id as the on-every-page login form... -%>
  <label for="new_password"><%= "New Password"[:new_password] %></label><br />
  <%= password_field_tag :new_password %>
</p>
<p>
  <label for="password_confirmation"><%= "Confirm New Password"[:confirm_new_password] %></label><br />
  <%= password_field_tag :password_confirmation %>
</p>
<p>
  <%= submit_tag "Reset Password"[:reset_password] %>
</p>
<% end %>
