<h2><%= I18n.t(:reset_password) %></h2>
<p>
  <%= I18n.t(:reset_password_text, :user => @user.login) %>
</p>
<% form_tag do %>
<p>
  <label for="login"><%= I18n.t(:your_login) %></label><br />
  <%= text_field_tag :login, @user.login, :disabled => true %>
</p>
<p>
  <%- # call this new_password instead of password so as not to have the same id as the on-every-page login form... -%>
  <label for="new_password"><%= I18n.t(:new_password) %></label><br />
  <%= password_field_tag :new_password %>
</p>
<p>
  <label for="password_confirmation"><%= I18n.t(:confirm_new_password) %></label><br />
  <%= password_field_tag :password_confirmation %>
</p>
<p>
  <%= submit_tag I18n.t(:reset_password) %>
</p>
<% end %>
