<h2 class="bright"><%= I18n.t(:survey_previous_result) %></h2>

<% if response.user %>
  <p><%= link_to_user response.user, :avatar => 'small' %></p>
<% else %>
  <p><b><%=h response.name %></b> <%=h response.email %></p>
<% end %>

<ul>
    <li><b><%= I18n.t(:survey_your_rating_heading) %></b> <%= (current_user.rating_for(response)||Rating.new).rating %></li>
  <% if may_view_survey_response_ratings?(response) %>
      <li><b><%= I18n.t(:survey_average_rating_heading) %></b> <%= response.rating.round(2) %></li>
  <% end %>
  <% if response.ratings.size == 1 %>
      <li><b><%= I18n.t(:survey_rated_by_1_person_caption) %></b></li>
  <% else %>
      <li><b><%= I18n.t(:survey_rated_by_x_people_caption, :count => response.ratings.size) %></b></li>
  <% end %>
</ul>

