%div
  %label 
    = I18n.t(:fullname)
  = text_field('group', 'full_name', :size => 40, :maxlength => 100)
  %p 
    = I18n.t(:descriptive_name_for_display)
%div
  %label 
    = I18n.t(:link_name)
  = text_field('group', 'name', :size => 40, :maxlength => 40)
  %p 
    = I18n.t(:link_name_description)
%div
  %label 
    = I18n.t(:language)
  %select#language{:type=>'select'}
    %option
    %option English
    %option Español
    %option Français
    %option Dansk
  %p 
    = I18n.t(:group_language, :group => @group.group_type.downcase)
%div
  %label 
    = I18n.t(:icon)
  %img.avatar.avatar_xxxlarge{:src=>"/images/new_ui/image-75sq.png", :alt=>" ", :height=>"204px", :width=>"204px"}
  %input#group_avatar_image_file{:type=>'file', :name=>'group[avatar][image_file]'}
  %p 
    = I18n.t(:uploaded_image_cropped) 
%input.form_buttons.right{:type=>'submit', :value=>'save'}
