<% if current_user.may?(:admin, @group) && @group.council_id.nil? %>
<p>
  <%= link_to "Create a new {thing}"[:create_a_new_thing, 'council'.t.downcase], :controller => 'groups', :action => 'create', :id => 'council', :parent_id => @group.id %>
</p>
<% end %>


<%-
# Show the coordinating council selection form iff we are editing a group with at least one committee
-%>
<%- if !@group.committees.empty? && may_admin_group? -%>
<p>
  <label for="group_council_id">
    <b><%= "Coordinating council".t.capitalize %></b><br />
    <%= 'If this group has a coordinating council, then only a member of that council may administer the group. Otherwise, any member of the group may do so.'[:edit_council_help_text] %>
  </label><br />
  <%= select 'group', 'council_id', @group.committees.map{|c| [c.name, c.id]}.sort, { :include_blank => true } %>
</p>
<%- end -%>
  <%= submit_tag 'Save changes'[:save_changes] if submit %>

<br/>
<br/>


