- form_for @widget do |f|
  = yield :widget_fields
  %ul
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :type
      = f.text_field :type
    %li
      = f.label :recent
      = f.check_box :recent
  %div#mb-footer
    = f.submit
