<% form_remote_tag(
     :url => {:controller => 'base_page/title', :action => 'update', :page_id => @page},
     :before => show_spinner('save_title')
) do %>

<div id="modal_message"></div>
<p>
  <%= I18n.t(:title) %><br/>
  <%= text_field 'page', 'title', :style => 'width: 90%', :class => 'h1' %>
</p>
<p>
  <%= I18n.t(:page_name_description) %><br/>
  <%= text_field 'page', 'name', :style => 'width: 90%' %>
</p>
<p>
  <%= I18n.t(:summary) %><br/>
  <%= text_area 'page', 'summary', :style => 'width: 90%', :size => '50x2' %>
</p>

<div class="buttons">
  <%= spinner('save_title') %><%= close_modal_button(:cancel) %><%= submit_tag I18n.t(:save_button), :name => 'save' %>
</div>

<% end %>

