%div#title-box-full
  %h3.left My Work Pages
  %form#search-my-work.right
    %fieldset
      %input.text{:type=>'text'} 
      %input.search-submit{:type=>'image', :src=>'/images/ui/search-icon.png'}
%div#info-box-full
  %span 
    Pages that you own, participated in, or are watching.
%div#action-bar
  %div#select-bar.left
    %h4.left= I18n.t(:select_filter_label)
    = render :partial => '/common/select_list', :locals => {:settings => settings}
  %div#mark-as-bar.left
    %h4.left= I18n.t(:mark_as_label)
    = render :partial => '/common/mark_as_list', :locals => {:settings => settings}
  %div.right
    %h4.left= I18n.t(:view_label)
    = action_bar_view_filter_select(settings)
    = observe_field 'view_filter_select', :function => %Q[window.location.href = "#{view_path}" + "?view=" + value]