<table class="columns">
<tr>
  <td class="left">
    <%= header_with_more(:h3, :dim, "Recent Activity"[:recent_activity], nil) %>
    <%= render :partial => 'activity/list' %>
  </td>
  <td class="right">
    <div class=''>
      <h3 class="dim"><%= "Your Current Status"[:my_status_heading] %></h3>
      <%= render :partial => 'me/dashboard/status_form' %>
    </div>
    <% unless @wall_posts.empty? %>
      <div class='status'>
        <h3 class="dim"><%= "Recent Wall Posts"[:recent_wall_posts] %></h3>
        <%= render :partial => 'profile/wall_discussion', :locals => {:posts => @wall_posts} %>
      </div>
    <% end %>
  </td>
</tr>
</table>

