<% hide_heading = false if hide_heading.nil? %>
<% hide_profile = false if hide_profile.nil? %>

<% unless hide_heading %>
<h2 class='dim'><%= I18n.t(:welcome_heading, :site_title => current_site.title, :user_name => current_user.display_name) %></h2>
<% end %>

<p class='description'><%= I18n.t(:welcome_message) %> <%# link_to I18n.t(:more_information)+ARROW, I18n.t(:welcome_message_more_information_url) %> </p>

<table>
<% unless hide_profile %>
<tr>

  <td>
    <h3 class='small_icon profile_16'><%= link_to I18n.t(:welcome_edit_profile_link), :controller => '/profile', :action => 'edit', :id => 'public' %></h3>
    <span><%= I18n.t(:welcome_edit_profile_text) %></span>
  </td>

  <td>
    <h3 class='small_icon user_icon_16'><%= link_to I18n.t(:welcome_upload_icon_link), :controller => '/me', :action => 'edit', :id => nil %></h3>
    <span><%= I18n.t(:welcome_upload_icon_text) %></span>
  </td>

</tr>
<% end %>
<tr>

  <td>
    <h3 class='small_icon user_16'><%= link_to I18n.t(:welcome_find_people_link), :controller => '/people', :action => nil %></h3>
    <span><%= I18n.t(:welcome_find_people_text) %></span>
  </td>

  <td>
    <h3 class='small_icon group_16'><%= link_to I18n.t(:welcome_find_groups_link), :controller => '/groups', :action => nil %></h3>
    <span><%= I18n.t(:welcome_find_groups_text) %></span>
  </td>

</tr>

<tr>

  <td>
    <h3 class='small_icon membership_add_16'><%= link_to I18n.t(:welcome_create_group_link), groups_url(:action => 'new') %></h3>
    <span><%= I18n.t(:welcome_create_group_text) %></span>
  </td>

  <td>
    <h3 class='small_icon page_add_16'><%= link_to I18n.t(:welcome_create_page_link), :controller => '/pages', :action => 'create' %></h3>
    <span><%= I18n.t(:welcome_create_page_text) %></span>
  </td>

</tr>
</table>

