<%- @title_box = capture do -%>
  <h1><%= "My Dashboard"[:my_dashboard] %></h1>
  <%= render :partial => 'me/dashboard/info_box' %>
<%- end -%>

<div class='landing'>

  <%= render :partial => 'announcement_page/list'  %>

  <h2 class='alert'>Recent Pages</h3>

  <div id='page_list'>
<%= render :partial => 'pages/list/activity_log', :locals => {:pages => @pages} %>
<%= link_to :more.t + ' &raquo;', me_url(:action => 'search') + "/descending/updated_at" %>
  </div>
</div>

<%= javascript_tag remote_function(:url => { :action => :counts }) %>


