<%- @title_box = capture do -%>
  <h1><%= "My Dashboard"[:my_dashboard] %></h1>
<%- end -%>
<%- @info_box = capture do -%>
  <%= render :partial => 'me/dashboard/info_box' %>
<%- end -%>

<div class='landing'>

  <%= render :partial => 'announcement_page/list'  %>

  <%= header_with_more :h2, 'alert', "Recent Pages".t, me_url(:action => 'search') + "/descending/updated_at" %>

  <div id='page_list'>
<%= render :partial => 'pages/list', :locals => {:pages => @pages, :columns => [:stars, :owner_with_icon, :icon, :title, :last_updated]} %>
<%= link_to :more.t + ' &raquo;', me_url(:action => 'search') + "/descending/updated_at" %>
  </div>
</div>

