<% content_for :style do -%>
div.timeclump {font-weight: bold; font-size: 1.2em; margin: 8px 0;}
<% end -%>
<%- @title_box = capture do -%>
  <%- cache(me_cache_key) do -%>
    <%= render :partial => 'infopanel' %>
  <%- end -%>
<%- end -%>

<div class='landing'>

  <%= render :partial => 'announcements' if @announcements.any? %>

  <div id='page_list'>
<%= render :partial => 'pages/list/activity_log', :locals => {:pages => @pages} %>
<%= link_to :more.t + ' &raquo;', me_url(:action => 'search') + "/descending/updated_at" %>
  </div>
</div>

<%= javascript_tag remote_function(:url => { :action => :counts }) %>

<%= render :partial => 'activity/list' %>
