<table>
  <tr>
    <td class="label">Street</td>
    <td><%= location.street %></td>
    </tr>
    <tr>
      <td class="label">Postal Code</td>
      <td><%= location.postal_code %></td>
    </tr>
    <tr>
      <td class="label">City</td>
      <td><%= location.city %></td>
    </tr>
    <tr>
      <td class="label">State</td>
      <td><%= location.state %></td>
    </tr>
    <tr>
      <td class="label">Country</td>
      <td><%= location.country_name %></td>
    </tr>
  </tbody>
</table>

