= new_tool_page title_for_new( "event" )
-# content_for :title do
  %h2
    = "Create a new".t
    = @page.class.class_display_name.t

-#.page.event.new
  - form_for :page, @page, :url => events_path do |f|
    = icon_for @page
    = render :partial => 'pages/form', :locals => {:f => f}
    - f.fields_for(:page_data, @page.data ) do |ff|
      = render :partial => 'form', :locals => {:f => ff }

    = submit_tag 'Save', :name => 'save'
