.event.show.landing
  - event = @page.data
  .section.date
    %h3
      Time
    - if event.is_all_day
      %label
        All day event on:
      = event.starts_at
    - else
      %label
        Starts at:
      = friendly_date(event.starts_at)
      %br
      %label
        Ends at:
      = friendly_date(event.ends_at)
      %br
      %label
        Time zone:
      = event.time_zone
    
  .section.description
    %h3
      Description
    = event.description
    %br/

  .section.location
    %h3
      Place
    .address
      = h event.location.street
    .csz
      = h event.location.city
      = h ", " + event.location.state if event.location.state
      = h event.location.postal_code
    .country
      = h event.location.country_name

  .section.directions
    %h3
      Directions
      - if event.location.latitude and event.location.longitude
        - map = GoogleMap.new(:controls => [:zoom])
        - map.markers << GoogleMapMarker.new(:map => map, :lat => Float(event.location.latitude), :lng => Float(event.location.longitude), :html => @page.title )
        .section.google-map
          = map.to_html
          #google_map{:style => "width: 450px; height: 300px"}
            = map.div
    = h event.location.directions
