<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= @page.title %> - Slideshow</title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'as_needed/gallery_slideshow' %>
  </head>
  <body>
    <%= render :partial => 'gallery/slideshow_navigation' %>
    <div id="content">
    </div>
    <div id="next_image" style="display:none">
      <%= yield %>
    </div>
    <%= javascript_tag("show_next_image();") %>
  </body>
</html>
