- form_for @widget do |f|
  = yield :widget_fields
  %ul
    %li
      = f.label :title
      = f.text_field :title
  %h4 
    Menu Entries
    = list_menu_items @menu_items.roots
  %div#mb-footer
    = f.submit


