= form_tag(@request_path)
= country_dropdown(nil, nil, {:show_submit => true})
= state_dropdown
= city_text_field
= city_id_field
%span{:id=>'submit_loc', :style=>'display: none'}
  = submit_tag('Go')
