<%= form_tag('/groups/directory/search') %>
<ul class='plain'>
<li id='select_country'>Country: 
  <%= country_dropdown(nil, nil, {:show_submit => true}) %>
</li>
<%= state_dropdown %>
<%= city_text_field %>
<%= city_id_field %>
<li id='submit_loc' style='display: none'>
<%= submit_tag('filter by location') %>
</li>
</ul>
</form>
