!!!
%html{:dir=>language_direction}
  = render :partial => '/layouts/base/head'
  %body{:class=>language_direction}
    #page
      / .space
      %header.page
        =render :partial => '/layouts/base/header'
      / .space

      %section#flash_messages
        = render :partial => 'layouts/messages'

      %section#breadcrumb
        = render :partial => '/layouts/base/breadcrumb'
      
      /
      / extended sidebar for landing pages 
      /
      - unless yield :extended_sidebar
        /
        / full content width pages 
        /
        = render :partial => '/layouts/base/full_width_content'

      - else
        = render :partial => '/layouts/base/content_with_extended_sidebar'


      = render :partial => 'layouts/base/footer'

      / .space

