- inside_layout 'base' do
  - content_for :banner do
    %div.left
      - key = "directory_of_#{@active_tab}"
      %h1= I18n.t(key.to_sym)
    %div.right
      - if link_to_create(@active_tab).present?
        %div#contribute
          = link_to_create(@active_tab)

  - content_for :secondary_nav do
    = render :partial => '/layouts/directory/menu'
  = yield

