!!!
%html{:dir=>language_direction}
  = render :partial => '/layouts/headers/head'
  %body{:class=>language_direction}
    = render :partial => '/layouts/headers/masthead'
    #container
      = render :partial => '/layouts/headers/messages'
      #main
        #content.full
          = yield
      = render :partial => '/layouts/headers/footer'

