<% inside_layout 'holygrail' do -%>

<% if @title_box.any? -%>
<div class='title_box'>
  <%= link_to_breadcrumbs(2) %>
  <%= @title_box %>
  <% if @show_print %>
    <span style="position:absolute; right: 10px; top: 40px;"><%= link_to "print", page_url(@page, :action => "print") %></span>
  <% end %>  
</div>
<% end -%>
<% if @info_box.any? -%>
<div class='info_box <%= @info_box_class %>'>
  <%= @info_box %>
</div>
<% end -%>
<div class='content_box'>
  <%= yield %>
  <%= render :partial => 'posts/list' if @show_posts %>
</div>

<% end -%>
