<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/ DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=h title_from_context %></title>
</head>
<body>

<h1><%=h title_from_context %></h1>

<div>
<b><%= @page.summary %></b>
</div>

<%= yield %>
  
<h2>Comments</h2>  
<%- for post in @posts do -%>
   <%= render :partial => 'posts/post_printer_friendly', :locals => {:post => post} %>
<%- end -%>  

</body>
</html>
