- content_for :right_sidebar do
  = render :partial => 'base_page/sidebar'

%h2= I18n.t(:pending_tasks).capitalize
%ul{:id=>'sort_list_pending',:class=>'task_list'}
  = render(:partial => 'task', :collection => @list.pending)
  = no_pending_tasks(@list.pending.empty?) 

- if current_user.may?(:edit, @page)
  %ul.task_list
    %li#add_task_link
      = render :partial => 'new_task', :locals => {:page => @page}

%h2= I18n.t(:completed_tasks).capitalize
%ul{:id=>'sort_list_completed', :class=>'task_list'}
  = render(:partial => 'task', :collection => @list.completed)
  = no_completed_tasks(@list.completed.empty?) 

- content_for :end_tags do
  =#  calendar_date_select_includes "silver"

= sortable_element 'sort_list_pending', :handle => 'handle', :url => page_xurl(@page, :action=>'sort') 
= sortable_element 'sort_list_completed', :handle => 'handle', :url => page_xurl(@page, :action=>'sort')

