<% content_for :right_sidebar do %>
  <%= render :partial => 'base_page/sidebar' %>
<% end %>


<h2>Pending tasks</h2>
<ul id='sort_list_pending' class='task_list'>
  <%= render(:partial => 'task', :collection => @list.pending) %>
  <%= no_pending_tasks(@list.pending.empty?) %>
</ul>
<% if current_user.may?(:edit, @page) -%>
<ul class='task_list'>
  <li id='add_task_link'><%= render :partial => 'new_task', :locals => {:page => @page} %></li>
</ul>
<% end -%>

<h2>Completed tasks</h2>
<ul id='sort_list_completed' class='task_list'>
<%= render(:partial => 'task', :collection => @list.completed) %>
<%= no_completed_tasks(@list.completed.empty?) %>
</ul>

<% content_for :end_tags do %>
  <%#  calendar_date_select_includes "silver" %>
<% end %>

<%= sortable_element 'sort_list_pending', :handle => 'handle', :url => page_xurl(@page, :action=>'sort') %>
<%= sortable_element 'sort_list_completed', :handle => 'handle', :url => page_xurl(@page, :action=>'sort') %>

