<h1>Editing language</h1>

<% form_for(@language) do |f| %>
  <p>
    <b>Code</b><br />
    <%= f.text_field :code %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.check_box :rtl %> <b>Right to left?</b>
  </p>

  <p>
    <%= f.submit "Update", :name => 'update' %>
  </p>
<% end %>

<%= link_to 'Back', languages_path %>

